Repository RyanSaxe/magic-the-battling: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty, eslint, typecheck-web

ruff:
  name: ruff
  entry: uvx ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: uvx ruff format
  language: system

ty:
  name: ty
  entry: uvx ty check
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

typecheck-web:
  name: typecheck-web
  entry: bash -c 'cd web && npm run typecheck'
  language: system
  pass_filenames: false

Fix PvP opponent actions, hand face-down display, and puppet context menu
  mtb/phases/battle.py
  tests/test_battle.py
  web/src/components/zones/HandZone.tsx
  web/src/pages/phases/Battle.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

adding an ignored backlog for future work
  .gitignore
Due: none

Fix PvP face-down rendering, interaction blocking, and state transfer
  mtb/models/game.py
  mtb/phases/battle.py
  server/schemas/api.py
  server/services/game_manager.py
  tests/test_battle.py
  web/src/components/card/AttachedCardStack.tsx
  web/src/components/card/Card.tsx
  web/src/components/card/CardActionMenu.tsx
  web/src/components/zones/BattlefieldZone.tsx
  web/src/components/zones/CompactZoneDisplay.tsx
  web/src/components/zones/HandZone.tsx
  web/src/contexts/FaceDownContext.tsx
  web/src/contexts/faceDownState.ts
  web/src/dnd/DraggableCard.tsx
  web/src/pages/Game.tsx
  web/src/pages/phases/Battle.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Disable drag and hide face controls for scrubbed PvP cards
  web/src/components/ActionMenu.tsx
  web/src/components/zones/BattlefieldZone.tsx
Due: eslint, typecheck-web

Remap attachment child IDs in face-down scrubbing
  server/services/game_manager.py
Due: ruff, ruff-format, ty

Scale AttachedCardStack to fit within fixed-height battlefield rows
  web/src/components/card/AttachedCardStack.tsx
Due: eslint, typecheck-web

Add directive-based callouts to guide modal
  web/package-lock.json
  web/package.json
  web/src/components/DocRenderer.tsx
  web/src/docs/phases/build.md
  web/src/index.css
Due: eslint, typecheck-web

Add type declaration for @microflash/remark-callout-directives
  web/src/types/remark-callout-directives.d.ts
Due: eslint, typecheck-web

Add Enter hotkey to confirm upgrade application
  web/src/components/common/UpgradesModal.tsx
  web/src/constants/hotkeys.ts
Due: eslint, typecheck-web

Add rehype-raw so callout SVG icons render as HTML
  web/package-lock.json
  web/package.json
  web/src/components/DocRenderer.tsx
Due: eslint, typecheck-web

Increase left padding on PhaseTimeline headers
  web/src/components/PhaseTimeline.tsx
Due: eslint, typecheck-web

fixing padding
  web/src/components/PhaseTimeline.tsx
Due: eslint, typecheck-web

Style hamburger as btn-secondary for consistency
  web/src/pages/Game.tsx
  web/src/pages/ShareGame.tsx
Due: eslint, typecheck-web

correcting and cleaning all the phase rules
  web/src/docs/phases/battle.md
  web/src/docs/phases/build.md
  web/src/docs/phases/draft.md
  web/src/docs/phases/reward.md
Due: none

added missed documented hotkeys
  web/src/constants/hotkeys.ts
Due: eslint, typecheck-web

Replace full-page errors with toast notifications
  web/src/App.tsx
  web/src/contexts/ToastContext.tsx
  web/src/contexts/index.ts
  web/src/contexts/toastState.ts
  web/src/hooks/useGame.ts
  web/src/hooks/useWebSocket.ts
  web/src/index.css
  web/src/pages/Game.tsx
  web/src/pages/Lobby.tsx
Due: eslint, typecheck-web

Add finals coin flip rule (loser chooses game 2+)
  mtb/phases/battle.py
  tests/test_battle.py
  web/src/docs/concepts/finals.md
  web/src/docs/phases/battle.md
  web/src/docs/phases/build.md
Due: ruff, ruff-format, ty

cleaning up overall docs and then reorganizing concepts
  web/src/docs/controls.md
  web/src/docs/overview.md
  web/src/docs/puppets.md
Due: none

forgot to add puppets doc
  web/src/docs/concepts/puppets.md
Due: none

adding discord link
  web/src/docs/overview.md
Due: none

Consolidate 7 concept docs into 3 tabbed files
  web/src/components/RulesPanel.tsx
  web/src/docs/concepts/finals.md
  web/src/docs/concepts/ghost.md
  web/src/docs/concepts/poison.md
  web/src/docs/concepts/puppets.md
  web/src/docs/concepts/sudden-death.md
  web/src/docs/concepts/treasures.md
  web/src/docs/concepts/upgrades.md
  web/src/docs/game-pieces.md
  web/src/docs/non-human-players.md
  web/src/docs/overview.md
  web/src/docs/phases/battle.md
  web/src/docs/phases/build.md
  web/src/docs/phases/draft.md
  web/src/docs/phases/reward.md
  web/src/docs/winning-the-game.md
Due: eslint, typecheck-web

reordering cards to look nicer on home
  web/src/constants/showcaseCards.ts
Due: eslint, typecheck-web

Revert "reordering cards to look nicer on home"
  web/src/constants/showcaseCards.ts
Due: eslint, typecheck-web

Replace lobby subtitle with guide modal links
  web/src/pages/Lobby.tsx
Due: eslint, typecheck-web

Restyle lobby guide links as frosted glass pills
  web/src/pages/Lobby.tsx
Due: eslint, typecheck-web

first pass docs for non phases
  web/src/docs/game-pieces.md
  web/src/docs/non-human-players.md
  web/src/docs/winning-the-game.md
Due: none

renamed lobby buttons
  web/src/pages/Lobby.tsx
Due: eslint, typecheck-web

Add play mode selection page and dynamic lobby
  server/routers/games.py
  server/routers/ws.py
  server/schemas/api.py
  server/services/game_manager.py
  web/src/App.tsx
  web/src/api/client.ts
  web/src/components/home/CreateGameModal.tsx
  web/src/hooks/useGame.ts
  web/src/hooks/useWebSocket.ts
  web/src/pages/Home.tsx
  web/src/pages/Lobby.tsx
  web/src/pages/Play.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Fix WebSocket onerror race condition on unmount
  web/src/hooks/useWebSocket.ts
Due: eslint, typecheck-web

Polish Play page UX: name input, per-card options, mobile tabs
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Polish Play page UX and fix friends lobby navigation
  web/src/pages/Home.tsx
  web/src/pages/Lobby.tsx
  web/src/pages/Play.tsx
  web/src/utils/prefetchName.ts
Due: eslint, typecheck-web

Remove glow and align gear button height
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Toast & reconnection UX improvements
  server/routers/ws.py
  server/services/game_manager.py
  tests/test_pending_disconnect.py
  web/src/contexts/ToastContext.tsx
  web/src/contexts/toastState.ts
  web/src/hooks/useWebSocket.ts
  web/src/pages/Game.tsx
  web/src/pages/Lobby.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Fix card sizing on wide-short viewports
  web/src/hooks/useBattleCardSizes.test.ts
  web/src/hooks/useBattleCardSizes.ts
Due: eslint, typecheck-web

Fix WS disconnect race that caused stale build_move errors
  server/routers/ws.py
  tests/test_connection_manager.py
  tests/test_game_manager.py
Due: ruff, ruff-format, ty

Redesign Play page cards with wider layout and richer copy
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

rewrote wording to look nicer
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

quick fix on grammar
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

missed desktop namings
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Consolidate card layout hooks into useCardLayout
  web/src/components/common/DeckDisplay.tsx
  web/src/components/common/UpgradesModal.tsx
  web/src/hooks/useCardLayout.test.ts
  web/src/hooks/useCardLayout.ts
  web/src/hooks/useDualZoneCardSizes.ts
  web/src/hooks/useGameSummaryCardSize.test.ts
  web/src/hooks/useGameSummaryCardSize.ts
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Draft.tsx
  web/src/pages/phases/Reward.tsx
Due: eslint, typecheck-web

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  ty: any of: \.py$
  eslint: any of: ^web/src/.*\.(ts|tsx)$
  typecheck-web: any of: ^web/src/.*\.(ts|tsx)$
