Repository RyanSaxe/magic-the-battling: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty, eslint, typecheck-web

ruff:
  name: ruff
  entry: uvx ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: uvx ruff format
  language: system

ty:
  name: ty
  entry: uvx ty check
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

typecheck-web:
  name: typecheck-web
  entry: bash -c 'cd web && npm run typecheck'
  language: system
  pass_filenames: false

Remove standalone /discover route
  web/src/App.tsx
  web/src/pages/Discover.tsx
Due: eslint, typecheck-web

Fix hamburger menu: Dashboard link, Join Game modal, logout state
  web/src/components/common/AppHeader.tsx
Due: eslint, typecheck-web

Restore Play/Join buttons to Home page header
  web/src/pages/Home.tsx
Due: eslint, typecheck-web

Fix dashboard redirect flash on Home page
  web/src/pages/Home.tsx
Due: eslint, typecheck-web

Refactor Login/Register to use AppHeader and add returnTo support
  web/src/pages/BattlerView.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Login.tsx
  web/src/pages/Register.tsx
Due: eslint, typecheck-web

Suppress pre-existing ty invalid-assignment false positives
  server/db/models.py
  server/routers/share_preview.py
  server/schemas/auth.py
  server/services/game_manager.py
  server/services/ops_manager.py
  web/src/api/client.ts
  web/src/contexts/AuthContext.tsx
  web/src/contexts/authState.ts
  web/src/pages/Register.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Rename URL from /dashboard/battler to /dashboard/list
  web/src/App.tsx
  web/src/pages/BattlerView.tsx
  web/src/pages/Dashboard.tsx
Due: eslint, typecheck-web

Fix BattlerView: server-side stats, delete confirmation, settings hint
  server/routers/battlers.py
  web/src/api/client.ts
  web/src/pages/BattlerView.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Make empty states actionable with navigation buttons
  web/src/pages/Dashboard.tsx
Due: eslint, typecheck-web

Fix Discover tab: working unfollow, metadata, and CubeCobra links
  web/src/pages/Dashboard.tsx
Due: eslint, typecheck-web

Update tests for email-required registration
  tests/test_api_games.py
  tests/test_auth.py
  tests/test_share_game.py
Due: ruff, ruff-format, ty

Remove redundant Play/Join buttons from Home page body
  web/src/pages/Home.tsx
Due: eslint, typecheck-web

Add register link alongside login on Home page
  web/src/pages/Home.tsx
Due: eslint, typecheck-web

Add bottom padding to Home page content area
  web/src/pages/Home.tsx
Due: eslint, typecheck-web

Add gold coin favicon, OG metadata, and mobile icon support
  pyproject.toml
  server/main.py
  uv.lock
  web/index.html
  web/public/apple-touch-icon.png
  web/public/favicon.svg
  web/public/icon-192.png
  web/public/icon-512.png
  web/public/og-image.png
  web/public/site.webmanifest
Due: ruff, ruff-format, ty

Fix Games tab and add public cube games endpoint
  server/routers/battlers.py
  tests/test_share_game.py
Due: ruff, ruff-format, ty

Add CubeView page for viewing any cube's game history
  web/src/App.tsx
  web/src/api/client.ts
  web/src/pages/CubeView.tsx
  web/src/pages/Dashboard.tsx
Due: eslint, typecheck-web

Fix form autofill white background on dark theme
  web/src/index.css
Due: none

Remove Play button from share page
  web/src/pages/ShareGame.tsx
Due: eslint, typecheck-web

Add CubeCobra metadata, fix Discover bug, and UX polish
  server/db/database.py
  server/db/models.py
  server/routers/battlers.py
  server/routers/discover.py
  server/routers/games.py
  server/schemas/auth.py
  web/src/api/client.ts
  web/src/components/common/AppHeader.tsx
  web/src/pages/BattlerView.tsx
  web/src/pages/CubeView.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Play.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Redesign cards with image banners, icon stats, and unified layout
  server/routers/battlers.py
  server/routers/discover.py
  server/schemas/auth.py
  web/src/components/common/InfoCard.tsx
  web/src/pages/BattlerView.tsx
  web/src/pages/CubeView.tsx
  web/src/pages/Dashboard.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Extract shared CubeGameHistory component and fix remaining bugs
  server/routers/battlers.py
  web/src/components/CubeGameHistory.tsx
  web/src/components/common/InfoCard.tsx
  web/src/pages/BattlerView.tsx
  web/src/pages/CubeView.tsx
  web/src/pages/Dashboard.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Fix text readability on green background, filter counts, and win stats
  server/routers/battlers.py
  web/src/api/client.ts
  web/src/components/CubeGameHistory.tsx
  web/src/components/common/LabeledDivider.tsx
  web/src/pages/BattlerView.tsx
  web/src/pages/Dashboard.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Fix stale cleanup, loading fallthrough, share page styling, and release defaults
  .github/workflows/deploy-main.yml
  server/services/game_manager.py
  tests/test_game_manager.py
  web/src/pages/Game.tsx
  web/src/pages/Play.tsx
  web/src/pages/ShareGame.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Add typed app error contract for server and web
  server/errors.py
  server/main.py
  server/routers/auth.py
  server/routers/battlers.py
  server/routers/games.py
  server/routers/ws.py
  server/services/auth.py
  tests/test_api_games.py
  tests/test_api_websocket.py
  tests/test_auth.py
  web/src/api/client.ts
  web/src/components/CardsView.tsx
  web/src/components/home/JoinGameModal.tsx
  web/src/hooks/useGame.ts
  web/src/hooks/useWebSocket.ts
  web/src/pages/BattlerView.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Game.tsx
  web/src/pages/Lobby.tsx
  web/src/pages/Login.tsx
  web/src/pages/Play.tsx
  web/src/pages/Register.tsx
  web/src/utils/appError.test.ts
  web/src/utils/appError.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Fix AppError type mismatch in Play page useGame call
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Fix invalid AppErrorContext in Play page handleServerError
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Unify PhaseTimeline layout to eliminate flicker on game end
  web/src/components/PhaseTimeline.tsx
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Skip auto-reconnect and hide Connect buttons in spectate mode
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Fix share page OG metadata broken by duplicate static tags
  server/routers/share_preview.py
  tests/test_share_preview.py
Due: ruff, ruff-format, ty

Fix upgrade column overflow when layout picks more columns than renderer
  web/src/components/common/DeckDisplay.tsx
  web/src/hooks/useCardLayout.test.ts
  web/src/hooks/useCardLayout.ts
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Draft.tsx
  web/src/utils/upgradeGrid.test.ts
  web/src/utils/upgradeGrid.ts
Due: eslint, typecheck-web

Always run the two-pass layout pipeline for every caller
  web/src/components/common/DeckDisplay.tsx
  web/src/hooks/computeConstrainedLayout.test.ts
  web/src/hooks/computeConstrainedLayout.ts
  web/src/hooks/useCardLayout.ts
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Draft.tsx
  web/src/pages/phases/Reward.tsx
Due: eslint, typecheck-web

Extract useResizableLayout to consolidate divider boilerplate
  web/src/components/common/DeckDisplay.tsx
  web/src/hooks/useResizableLayout.test.ts
  web/src/hooks/useResizableLayout.ts
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Draft.tsx
  web/src/pages/phases/Reward.tsx
Due: eslint, typecheck-web

Fix Draft pool overflow caused by missing sectionPad* in default config
  web/src/hooks/computeConstrainedLayout.test.ts
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

Cap pass-2 card width at 500px to prevent absurd sizing
  web/src/hooks/computeConstrainedLayout.test.ts
  web/src/hooks/computeConstrainedLayout.ts
  web/src/hooks/useCardLayout.ts
Due: eslint, typecheck-web

Add pass 3: cross-zone slack redistribution with growPriority
  web/src/hooks/redistributeSlack.test.ts
  web/src/hooks/redistributeSlack.ts
  web/src/hooks/useCardLayout.ts
Due: eslint, typecheck-web

Anchor Draft tokens to outer container with full gold framing
  web/src/index.css
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  ty: any of: \.py$
  eslint: any of: ^web/src/.*\.(ts|tsx)$
  typecheck-web: any of: ^web/src/.*\.(ts|tsx)$
