Repository RyanSaxe/magic-the-battling: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty, eslint, typecheck-web

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uvx ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff-format
        entry: uvx ruff format
        language: system
        types: [python]

      - id: ty
        name: ty
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typecheck-web
        name: typecheck-web
        entry: bash -c 'cd web && npm run typecheck'
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

Fix mobile single-tap card selection
  web/src/components/card/Card.tsx
Due: eslint, typecheck-web

making drag snappier
  web/src/dnd/DndContext.tsx
Due: eslint, typecheck-web

making reward cards in a single row
  web/src/pages/phases/Reward.tsx
Due: eslint, typecheck-web

Fix reward upgrade section growing wider on mobile
  web/src/hooks/useElementHeight.ts
  web/src/pages/Game.tsx
  web/src/pages/phases/Reward.tsx
Due: eslint, typecheck-web

Show basics counter in green at 3/3 instead of hiding
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Fix mobile Actions button sizing to match other buttons
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Fix mobile button inconsistencies
  web/src/index.css
Due: none

Simplify ActionMenu positioning
  web/src/components/ActionMenu.tsx
Due: eslint, typecheck-web

Fix opponent hand cards not clickable for selection
  web/src/dnd/DraggableCard.tsx
  web/src/pages/phases/Battle.tsx
Due: eslint, typecheck-web

Fix incorrect placement display in game summary
  server/services/game_manager.py
  tests/test_game_manager.py
  web/src/components/GameSummary.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Increase basic land and counter sizes, add click-to-toggle
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/pages/Game.tsx
  web/src/pages/phases/Build.tsx
Due: eslint, typecheck-web

Add Cards tab to Rules Modal with CubeCobra link
  mtb/models/game.py
  server/schemas/api.py
  server/services/game_manager.py
  web/src/components/RulesModal.tsx
  web/src/pages/Game.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Fix mobile sizing for lands and counters
  web/src/pages/Game.tsx
  web/src/pages/phases/Build.tsx
Due: eslint, typecheck-web

Refactor sidebar PlayerList into tabbed interface with placement badges
  web/src/components/PlayerList.tsx
  web/src/components/sidebar/PlacementBadge.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/pages/Game.tsx
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

only show upgrades in sidebar if there are any
  web/src/components/sidebar/Sidebar.tsx
Due: eslint, typecheck-web

Redesign game summary with MTG zone layout
  web/src/components/GameSummary.tsx
  web/src/components/common/BasicLandCard.tsx
  web/src/components/common/index.ts
  web/src/components/share/ShareRoundDetail.tsx
  web/src/hooks/useGameSummaryCardSize.ts
  web/src/utils/format.ts
Due: eslint, typecheck-web

Redesign game summary with connected border-box and badge labels
  web/src/components/GameSummary.tsx
  web/src/components/share/ShareRoundDetail.tsx
  web/src/hooks/useGameSummaryCardSize.ts
Due: eslint, typecheck-web

Add overflow-hidden to Card component
  web/src/components/card/Card.tsx
Due: eslint, typecheck-web

Replace vertical Command Zone label with horizontal CMD badge
  web/src/components/GameSummary.tsx
  web/src/components/share/ShareRoundDetail.tsx
  web/src/hooks/useGameSummaryCardSize.ts
Due: eslint, typecheck-web

Add clipboard fallback for share button
  web/src/components/GameSummary.tsx
Due: eslint, typecheck-web

Fix game summary sizing in nested flex contexts
  web/src/components/GameSummary.tsx
  web/src/components/share/ShareRoundDetail.tsx
Due: eslint, typecheck-web

Decouple battlefield and sideboard card widths
  web/src/hooks/useGameSummaryCardSize.ts
Due: eslint, typecheck-web

Fix game summary layout failures with command zone
  web/src/hooks/useGameSummaryCardSize.ts
Due: eslint, typecheck-web

Use weighted height allocation for bf/sb sizing
  web/src/hooks/useGameSummaryCardSize.ts
Due: eslint, typecheck-web

Add regression tests for game summary sizing
  web/package-lock.json
  web/package.json
  web/src/hooks/useGameSummaryCardSize.test.ts
  web/src/hooks/useGameSummaryCardSize.ts
Due: eslint, typecheck-web

Extract buildGameSummaryData to shared utility module
  web/src/pages/ShareGame.tsx
  web/src/utils/share.ts
Due: eslint, typecheck-web

Add SummaryEmbed page for OG preview screenshots
  web/src/App.tsx
  web/src/pages/SummaryEmbed.tsx
Due: eslint, typecheck-web

Add preview service for OG image screenshot generation
  pyproject.toml
  server/services/preview.py
  uv.lock
Due: ruff, ruff-format, ty

Add share preview router with OG meta tags and preview.png
  server/main.py
  server/routers/share_preview.py
Due: ruff, ruff-format, ty

Add Playwright Chromium to Docker build, bump VM memory
  Dockerfile
  fly.toml
Due: none

Increase reward pool card max width from 120 to 180
  web/src/pages/phases/Reward.tsx
Due: eslint, typecheck-web

Add gold/silver/bronze placement badge colors
  web/src/components/PlayerList.tsx
  web/src/components/sidebar/PlacementBadge.tsx
  web/src/utils/format.ts
Due: eslint, typecheck-web

Allow hand cards to overlap on mobile battle phase
  web/src/components/card/Card.tsx
  web/src/components/card/CardBack.tsx
  web/src/components/zones/HandZone.tsx
  web/src/dnd/DraggableCard.tsx
  web/src/dnd/DroppableZone.tsx
  web/src/hooks/useBattleCardSizes.ts
  web/src/pages/phases/Battle.tsx
Due: eslint, typecheck-web

Replace 30px fallback with best-overflow candidate
  web/src/hooks/useGameSummaryCardSize.test.ts
  web/src/hooks/useGameSummaryCardSize.ts
Due: eslint, typecheck-web

Allow 1 or 2 CZ columns in computeSize
  web/src/components/GameSummary.tsx
  web/src/components/share/ShareRoundDetail.tsx
  web/src/hooks/useGameSummaryCardSize.test.ts
  web/src/hooks/useGameSummaryCardSize.ts
Due: eslint, typecheck-web

Fix blank share page when cards are slightly below min width
  web/src/hooks/useGameSummaryCardSize.test.ts
  web/src/hooks/useGameSummaryCardSize.ts
Due: eslint, typecheck-web

Compute hand card gap dynamically to prevent overflow
  web/src/components/zones/HandZone.tsx
  web/src/hooks/useBattleCardSizes.ts
  web/src/index.css
  web/src/pages/phases/Battle.tsx
Due: eslint, typecheck-web

Persist placement to DB on mid-game elimination
  server/services/game_manager.py
  tests/test_game_manager.py
Due: ruff, ruff-format, ty

Add game_finished field to ShareGameResponse
  server/routers/games.py
  server/routers/share_preview.py
  server/schemas/api.py
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Hide placement header and share button on share page
  web/src/components/GameSummary.tsx
Due: eslint, typecheck-web
