Repository RyanSaxe/magic-the-battling: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, eslint, typecheck-web

ty:
  name: ty
  entry: uvx ty check
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

typecheck-web:
  name: typecheck-web
  entry: bash -c 'cd web && npm run typecheck'
  language: system
  pass_filenames: false

Fix critical draft bugs: hand size, remove take action, fix duplicate cards
  mtb/phases/__init__.py
  mtb/phases/draft.py
  server/routers/ws.py
  server/schemas/api.py
  server/services/game_manager.py
  tests/test_draft.py
  tests/test_game_flow.py
  web/src/dnd/DndContext.tsx
  web/src/dnd/index.ts
  web/src/dnd/useGameDnd.ts
  web/src/hooks/useGame.ts
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Draft.tsx
  web/src/types.ts
Due: ty, eslint, typecheck-web

Fix reward_done at stage boundaries
  server/routers/ws.py
  server/schemas/api.py
  server/services/game_manager.py
  web/src/hooks/useGame.ts
  web/src/pages/phases/Reward.tsx
  web/src/types.ts
Due: ty, eslint, typecheck-web

Improve battle phase UI with separated lands and opponent hand
  server/schemas/api.py
  server/services/game_manager.py
  web/src/components/zones/BattlefieldZone.tsx
  web/src/pages/phases/Battle.tsx
  web/src/types.ts
Due: ty, eslint, typecheck-web

Redesign reward page with battle results and rewards display
  mtb/models/game.py
  mtb/phases/reward.py
  server/schemas/api.py
  server/services/game_manager.py
  web/src/pages/phases/Reward.tsx
  web/src/types.ts
Due: ty, eslint, typecheck-web

Replace emoji icons with Scryfall mana symbols and custom SVG icons
  web/src/components/PlayerList.tsx
  web/src/components/icons/ManaSymbol.tsx
  web/src/components/icons/PoisonIcon.tsx
  web/src/components/icons/TreasureIcon.tsx
  web/src/components/icons/index.ts
  web/src/constants/assets.ts
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

got it working through first stage but bugs on conspiracies and other stuff
  mtb/models/cards.py
  pyproject.toml
  server/db/database.py
  tests/conftest.py
  tests/test_api_games.py
  tests/test_api_websocket.py
  tests/test_battle.py
  tests/test_build.py
  tests/test_cards.py
  tests/test_draft.py
  tests/test_elimination.py
  tests/test_game_init.py
  tests/test_json_helpers.py
  tests/test_reward.py
  web/package-lock.json
  web/package.json
  web/public/assets/card-back.svg
  web/src/components/Card.tsx
  web/src/components/CardZone.tsx
  web/src/components/card/Card.tsx
  web/src/components/card/CardBack.tsx
  web/src/components/card/index.ts
  web/src/components/zones/HandZone.tsx
  web/src/components/zones/PileZone.tsx
  web/src/components/zones/SideboardZone.tsx
  web/src/components/zones/index.ts
  web/src/dnd/DraggableCard.tsx
  web/src/dnd/DroppableZone.tsx
  web/src/dnd/types.ts
  web/src/dnd/useDndActions.ts
  web/src/index.css
  web/src/pages/Game.tsx
  web/src/pages/Home.tsx
  web/src/pages/Lobby.tsx
Due: ty, eslint, typecheck-web

conspiracies in good state
  TASKS.md
  mtb/models/game.py
  mtb/phases/battle.py
  mtb/phases/build.py
  mtb/phases/draft.py
  mtb/phases/reward.py
  server/routers/games.py
  server/routers/ws.py
  server/schemas/api.py
  server/services/game_manager.py
  tests/conftest.py
  tests/test_battle.py
  tests/test_draft.py
  tests/test_e2e_game_creation.py
  tests/test_reward.py
  web/src/api/client.ts
  web/src/components/PlayerList.tsx
  web/src/components/card/Card.tsx
  web/src/components/card/CardBack.tsx
  web/src/components/icons/MoneyBagIcon.tsx
  web/src/components/icons/index.ts
  web/src/components/zones/BattlefieldZone.tsx
  web/src/constants/assets.ts
  web/src/hooks/useGame.ts
  web/src/pages/Game.tsx
  web/src/pages/Home.tsx
  web/src/pages/phases/Battle.tsx
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Draft.tsx
  web/src/pages/phases/Reward.tsx
  web/src/types.ts
Due: ty, eslint, typecheck-web

first attempt at proper db + fake players
  mtb/models/game.py
  mtb/phases/battle.py
  mtb/phases/build.py
  mtb/phases/reward.py
  mtb/utils/scryfall.py
  server/db/models.py
  server/dev.py
  server/routers/games.py
  server/routers/ws.py
  server/schemas/api.py
  server/services/game_manager.py
  tests/conftest.py
  tests/test_api_websocket.py
  tests/test_battle.py
  web/src/api/client.ts
  web/src/hooks/useGame.ts
  web/src/pages/Home.tsx
  web/src/pages/Lobby.tsx
  web/src/pages/phases/Build.tsx
  web/src/types.ts
Due: ty, eslint, typecheck-web

fixing ready bug
  server/schemas/api.py
  server/services/game_manager.py
  web/src/pages/Lobby.tsx
  web/src/types.ts
Due: ty, eslint, typecheck-web

Populate hand by ELO at build phase start
  TASKS.md
  mtb/models/game.py
  mtb/phases/build.py
  mtb/phases/draft.py
  tests/test_draft.py
  tests/test_game_flow.py
  tests/test_game_init.py
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/BuildSidebarContent.tsx
  web/src/components/sidebar/DraftSidebarContent.tsx
  web/src/components/sidebar/LifeCounter.tsx
  web/src/components/sidebar/PoisonDisplay.tsx
  web/src/components/sidebar/RewardSidebarContent.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/components/sidebar/SidebarPile.tsx
  web/src/components/sidebar/UpgradeDisplay.tsx
  web/src/components/sidebar/index.ts
  web/src/pages/Game.tsx
  web/src/pages/phases/Battle.tsx
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Draft.tsx
  web/src/pages/phases/Reward.tsx
Due: ty, eslint, typecheck-web

Fix game start to count bots toward player minimum
  server/routers/games.py
  server/services/game_manager.py
  web/src/pages/Lobby.tsx
Due: ty, eslint, typecheck-web

Refactor UI and add card state actions
  mtb/models/game.py
  mtb/models/types.py
  mtb/phases/battle.py
  mtb/phases/build.py
  mtb/phases/draft.py
  server/routers/ws.py
  server/services/game_manager.py
  tests/test_api_games.py
  web/src/components/ContextStrip.tsx
  web/src/components/PlayerList.tsx
  web/src/components/card/AttachedCardStack.tsx
  web/src/components/card/Card.tsx
  web/src/components/card/CardActionMenu.tsx
  web/src/components/card/CardPreviewContext.tsx
  web/src/components/card/index.ts
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/BuildSidebarContent.tsx
  web/src/components/sidebar/DraftSidebarContent.tsx
  web/src/components/sidebar/LifeCounter.tsx
  web/src/components/sidebar/PoisonDisplay.tsx
  web/src/components/sidebar/RewardSidebarContent.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/components/sidebar/SidebarPile.tsx
  web/src/components/sidebar/UpgradeDisplay.tsx
  web/src/components/sidebar/index.ts
  web/src/components/zones/BattlefieldZone.tsx
  web/src/contexts/ContextStripContext.tsx
  web/src/contexts/contextStripState.ts
  web/src/contexts/index.ts
  web/src/dnd/DraggableCard.tsx
  web/src/hooks/useGame.ts
  web/src/index.css
  web/src/pages/Game.tsx
  web/src/pages/phases/Battle.tsx
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Draft.tsx
  web/src/pages/phases/Reward.tsx
  web/src/types.ts
Due: ty, eslint, typecheck-web

Refactor UI with action bar header and battle sidebar
  web/src/components/ContextStrip.tsx
  web/src/components/card/AttachedCardStack.tsx
  web/src/components/card/Card.tsx
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/components/sidebar/index.ts
  web/src/pages/Game.tsx
  web/src/pages/phases/Battle.tsx
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Reward.tsx
Due: eslint, typecheck-web

quick fixes
  server/schemas/api.py
  server/services/game_manager.py
  tests/test_api_games.py
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/pages/Game.tsx
  web/src/pages/phases/Battle.tsx
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Reward.tsx
  web/src/types.ts
Due: ty, eslint, typecheck-web

Fix basic lands to have unique IDs
  mtb/phases/battle.py
Due: ty

Remove S badge and swap instruction from draft phase
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

Add battle phase UI improvements
  server/schemas/api.py
  server/services/game_manager.py
  web/src/components/card/AttachedCardStack.tsx
  web/src/components/card/Card.tsx
  web/src/components/card/CardBack.tsx
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/ZoneDisplay.tsx
  web/src/components/sidebar/index.ts
  web/src/components/zones/BattlefieldZone.tsx
  web/src/dnd/DraggableCard.tsx
  web/src/pages/phases/Battle.tsx
  web/src/types.ts
Due: ty, eslint, typecheck-web

Add bot players to player list sidebar
  server/schemas/api.py
  server/services/game_manager.py
  web/src/components/PlayerList.tsx
  web/src/types.ts
Due: ty, eslint, typecheck-web

big bug fixes
  server/services/game_manager.py
  web/src/hooks/useWebSocket.ts
Due: ty, eslint, typecheck-web

fixing more bugs
  TASKS.md
  mtb/models/game.py
  mtb/phases/battle.py
  server/routers/ws.py
  server/schemas/api.py
  server/services/game_manager.py
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/DroppableZoneDisplay.tsx
  web/src/components/sidebar/RewardSidebarContent.tsx
  web/src/components/sidebar/index.ts
  web/src/components/zones/BattlefieldZone.tsx
  web/src/components/zones/HandZone.tsx
  web/src/dnd/useDndActions.ts
  web/src/hooks/useGame.ts
  web/src/pages/Game.tsx
  web/src/pages/phases/Battle.tsx
  web/src/pages/phases/Reward.tsx
  web/src/types.ts
Due: ty, eslint, typecheck-web

quick cleaning
  mtb/models/cards.py
  mtb/models/game.py
  mtb/phases/build.py
Due: ty

Pin Python version to 3.13 for pydantic-core compatibility
  .gitignore
  .python-version
Due: none

Fix CI: use latest ruff everywhere, add coverage config
  .pre-commit-config.yaml
  mtb/models/cards.py
  pyproject.toml
  tests/conftest.py
  tests/test_e2e_game_creation.py
  tests/test_json_helpers.py
  uv.lock
Due: ty

Add manual release workflow for version bumps and deployment
  .github/workflows/release.yml
Due: none

Add fly.io deployment configuration and server support
  .dockerignore
  .gitignore
  Dockerfile
  fly.toml
  server/db/database.py
  server/main.py
Due: ty

Add phase validation to WebSocket message handler
  server/routers/ws.py
  tests/test_phase_validation.py
Due: ty

Improve player sidebar with W/L indicator and new format
  server/schemas/api.py
  server/services/game_manager.py
  web/src/components/PlayerList.tsx
  web/src/types.ts
Due: ty, eslint, typecheck-web

Add winner and game_over phase types
  mtb/models/types.py
Due: ty

Add config_json and is_bot columns to database models
  server/db/models.py
Due: ty

Add in-memory test database fixture
  tests/conftest.py
Due: ty

Add bot tracking and elimination logic
  mtb/models/game.py
  mtb/phases/battle.py
  mtb/phases/elimination.py
  mtb/phases/reward.py
Due: ty

Add game completion, cube preloading, and improved bot management
  server/routers/ws.py
  server/schemas/api.py
  server/services/game_manager.py
Due: ty

Add bot availability endpoint and trigger cube preloading
  server/routers/games.py
  web/src/api/client.ts
  web/src/pages/Home.tsx
Due: ty, eslint, typecheck-web

Add frontend game over screens and cube loading types
  web/src/pages/Game.tsx
  web/src/types.ts
Due: eslint, typecheck-web

proper bot and ghost handling
  mtb/models/game.py
  mtb/phases/battle.py
  mtb/phases/build.py
  server/db/database.py
  server/routers/games.py
  server/routers/ws.py
  server/schemas/api.py
  server/services/game_manager.py
  server/services/session_manager.py
  tests/test_build.py
  tests/test_game_flow.py
  tests/test_phase_validation.py
  web/src/components/CardZone.tsx
  web/src/components/PlayerList.tsx
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/hooks/useGame.ts
  web/src/pages/Game.tsx
  web/src/pages/phases/Build.tsx
  web/src/types.ts
Due: ty, eslint, typecheck-web

quick sidebar fix
  web/src/components/sidebar/BattleSidebarContent.tsx
Due: eslint, typecheck-web

Move bot availability checking to lobby state
  Dockerfile
  server/routers/games.py
  server/schemas/api.py
  server/services/game_manager.py
  web/src/api/client.ts
  web/src/pages/Home.tsx
  web/src/pages/Lobby.tsx
  web/src/types.ts
Due: ty, eslint, typecheck-web

currently working, but bots are broken and havent tested ghost
  .claude/CLAUDE.md
  Dockerfile
  mtb/models/cards.py
  server/services/game_manager.py
  tests/test_elimination.py
  web/src/components/card/Card.tsx
  web/src/components/card/CardPreviewContext.tsx
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/DroppableZoneDisplay.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/components/sidebar/ZoneDisplay.tsx
  web/src/contexts/ContextStripContext.tsx
  web/src/contexts/contextStripState.ts
  web/src/pages/Game.tsx
  web/src/pages/phases/Build.tsx
Due: ty, eslint, typecheck-web

Fix sidebar revealed cards and bot battle stuck bugs
  mtb/models/game.py
  mtb/phases/battle.py
  server/routers/games.py
  server/schemas/api.py
  server/services/game_manager.py
  tests/test_battle.py
  web/src/components/PlayerList.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/pages/Game.tsx
  web/src/types.ts
Due: ty, eslint, typecheck-web

Path conditions:
  ty: any of: \.py$
  eslint: any of: ^web/src/.*\.(ts|tsx)$
  typecheck-web: any of: ^web/src/.*\.(ts|tsx)$
