Repository RyanSaxe/magic-the-battling: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty, eslint, typecheck-web

ruff:
  name: ruff
  entry: uvx ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: uvx ruff format
  language: system

ty:
  name: ty
  entry: uvx ty check
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

typecheck-web:
  name: typecheck-web
  entry: bash -c 'cd web && npm run typecheck'
  language: system
  pass_filenames: false

Add targetPlayer parameter to buildGameSummaryData
  web/src/utils/share.ts
Due: eslint, typecheck-web

Show "Latest" instead of "Final Summary" for ongoing games
  web/src/components/share/ShareRoundNav.tsx
Due: eslint, typecheck-web

Add placement badges to SharePlayerToggle
  web/src/components/share/SharePlayerToggle.tsx
Due: eslint, typecheck-web

Revamp share page layout with per-player summaries
  web/src/pages/ShareGame.tsx
Due: eslint, typecheck-web

Delete ShareStandings component
  web/src/components/share/ShareStandings.tsx
Due: eslint, typecheck-web

Polish share page: compact layout and bug fixes
  server/routers/games.py
  server/routers/share_preview.py
  server/schemas/api.py
  web/src/components/GameSummary.tsx
  web/src/components/share/SharePlayerToggle.tsx
  web/src/components/share/ShareRoundNav.tsx
  web/src/hooks/useGameSummaryCardSize.test.ts
  web/src/hooks/useGameSummaryCardSize.ts
  web/src/pages/ShareGame.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Add poison counter to GameSummary battlefield
  web/src/components/GameSummary.tsx
  web/src/components/common/PoisonCard.tsx
  web/src/components/common/index.ts
  web/src/pages/ShareGame.tsx
Due: eslint, typecheck-web

Extract shared DeckDisplay component
  web/src/components/GameSummary.tsx
  web/src/components/common/DeckDisplay.tsx
  web/src/components/common/index.ts
  web/src/components/share/ShareRoundDetail.tsx
Due: eslint, typecheck-web

Hide spectate button when no alive human players remain
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Add node_modules to gitignore
  .gitignore
Due: none

Use larger counter images with overlaid badges in You tab
  web/src/components/PlayerList.tsx
Due: eslint, typecheck-web

Show "No Cards Seen" text instead of dotted empty box
  web/src/components/sidebar/ZoneDisplay.tsx
Due: eslint, typecheck-web

Reduce padding above upgrades and seen-cards sections
  web/src/components/PlayerList.tsx
  web/src/components/sidebar/Sidebar.tsx
Due: eslint, typecheck-web

Clear companion from command zone when ELO adds it to hand
  mtb/models/game.py
  tests/test_build.py
Due: ruff, ruff-format, ty

Improve contrast on placement badges
  web/src/components/sidebar/PlacementBadge.tsx
  web/src/utils/format.ts
Due: eslint, typecheck-web

Auto-select first player when switching to opponents/others tab
  web/src/components/PlayerList.tsx
Due: eslint, typecheck-web

Show flip button only on hover or selection
  web/src/components/card/Card.tsx
Due: eslint, typecheck-web

Make Connect and Watch buttons mutually exclusive
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Increase upgrade card size to fit 2 per row in You tab
  web/src/components/PlayerList.tsx
Due: eslint, typecheck-web

Fix Hand label cutoff on share page round views
  web/src/pages/ShareGame.tsx
Due: eslint, typecheck-web

Fix stretched counter images on mobile in You tab
  web/src/components/PlayerList.tsx
Due: eslint, typecheck-web

Change upgrade layout to 3 per row in You tab and sidebar
  web/src/components/PlayerList.tsx
  web/src/components/sidebar/ZoneDisplay.tsx
Due: eslint, typecheck-web

fixed padding and formatting on sidebar to no longer require scrolling in opponents tab for mobile unless you get to 7 card hands
  web/src/components/PlayerList.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/components/sidebar/ZoneDisplay.tsx
Due: eslint, typecheck-web

Add dev environment deployment infrastructure
  .github/workflows/ci.yml
  .github/workflows/deploy-dev.yml
  fly.dev.toml
Due: none

Use suspend instead of stop for dev machine idle behavior
  fly.dev.toml
Due: none

Fix share preview images on deployed site
  Dockerfile
  server/routers/share_preview.py
  server/services/preview.py
  tests/test_share_preview.py
Due: ruff, ruff-format, ty

Increase dev machine memory to 1GB
  fly.dev.toml
Due: none

Show basic lands individually without count badges
  web/src/components/GameSummary.tsx
  web/src/components/common/BasicLandCard.tsx
  web/src/components/common/DeckDisplay.tsx
  web/src/components/share/ShareRoundDetail.tsx
  web/src/utils/format.ts
Due: eslint, typecheck-web

cleaning up readme and claude docs
  .claude/CLAUDE.md
  README.md
Due: none

Add Discord community link to README and Home page
  README.md
  web/src/pages/Home.tsx
Due: eslint, typecheck-web

Unify duplicate zone creation in battle.py
  mtb/phases/battle.py
Due: ruff, ruff-format, ty

Extract _award_rewards helper in reward.py
  mtb/phases/reward.py
Due: ruff, ruff-format, ty

Extract _update_ghosts helper in elimination.py
  mtb/phases/elimination.py
Due: ruff, ruff-format, ty

Remove dead code and clean up types in battle.py
  mtb/phases/__init__.py
  mtb/phases/battle.py
  tests/test_elimination.py
Due: ruff, ruff-format, ty

Simplify __init__.py to only export module namespaces
  mtb/phases/__init__.py
Due: ruff, ruff-format, ty

changing text to be on one line on mobile
  web/src/pages/Home.tsx
Due: eslint, typecheck-web

Compact Home and Lobby pages to avoid scrolling
  web/src/pages/Home.tsx
  web/src/pages/Lobby.tsx
Due: eslint, typecheck-web

Add showcase card data for home page carousel
  web/src/constants/showcaseCards.ts
Due: eslint, typecheck-web

Add hero page CSS animations
  web/src/index.css
Due: none

Add CardShowcase carousel component
  web/src/components/home/CardShowcase.tsx
Due: eslint, typecheck-web

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  ty: any of: \.py$
  eslint: any of: ^web/src/.*\.(ts|tsx)$
  typecheck-web: any of: ^web/src/.*\.(ts|tsx)$
