Repository RyanSaxe/magic-the-battling: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty, eslint, typecheck-web

ruff:
  name: ruff
  entry: uvx ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: uvx ruff format
  language: system

ty:
  name: ty
  entry: uvx ty check
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

typecheck-web:
  name: typecheck-web
  entry: bash -c 'cd web && npm run typecheck'
  language: system
  pass_filenames: false

cleaning up player list
  web/src/components/PlayerList.tsx
Due: eslint, typecheck-web

Add bot and ghost icons to player list
  server/schemas/api.py
  server/services/game_manager.py
  web/src/components/PlayerList.tsx
  web/src/components/icons/BotIcon.tsx
  web/src/components/icons/GhostIcon.tsx
  web/src/components/icons/index.ts
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Fix sudden death / elimination flow
  mtb/models/types.py
  mtb/phases/elimination.py
  server/services/game_manager.py
  tests/test_elimination.py
  web/src/pages/Game.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

fixing up final bot bugs around rewards and battles
  mtb/models/game.py
  mtb/phases/battle.py
  mtb/phases/reward.py
  server/services/game_manager.py
Due: ruff, ruff-format, ty

Remove token overlay badge from cards
  web/src/components/card/Card.tsx
Due: eslint, typecheck-web

Show non-applied upgrades for current player in sidebar
  web/src/components/sidebar/Sidebar.tsx
Due: eslint, typecheck-web

Show "You go first" instead of player name on die roll
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Replace poison icons with descriptive sentences on reward screen
  web/src/components/sidebar/RewardSidebarContent.tsx
Due: eslint, typecheck-web

Use bigger cards with two-column layout in sidebar zones
  web/src/components/sidebar/ZoneDisplay.tsx
Due: eslint, typecheck-web

cleaner looking sidebar
  server/dev.py
  server/services/game_manager.py
Due: ruff, ruff-format, ty

Keep Fly machine always running to prevent game loss
  fly.toml
Due: none

Fix bot snapshot lookup and improve card reveal tracking
  mtb/models/game.py
  mtb/phases/battle.py
  server/services/game_manager.py
  tests/test_battle.py
Due: ruff, ruff-format, ty

Fix poison first-player and improve revealed cards tracking
  mtb/models/game.py
  mtb/phases/battle.py
  server/routers/ws.py
  server/services/game_manager.py
  tests/test_battle.py
  web/src/pages/phases/Battle.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Fix player.stage initialization and usage
  mtb/models/game.py
  mtb/phases/battle.py
  server/services/game_manager.py
  tests/test_battle.py
  tests/test_elimination.py
  web/src/components/PlayerList.tsx
  web/src/pages/Game.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Fix bot icon disappearing when bot becomes ghost
  web/src/components/PlayerList.tsx
Due: eslint, typecheck-web

Add Return Home button to eliminated screen
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Add flip functionality to card zoom modal
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Add button to view bot sideboard in expanded modal
  web/src/pages/phases/Battle.tsx
Due: eslint, typecheck-web

Fix bot snapshot display to show prior round info
  server/services/game_manager.py
Due: ruff, ruff-format, ty

Unify ghost humans with StaticOpponent bot path
  mtb/models/game.py
  mtb/phases/battle.py
  mtb/phases/elimination.py
  mtb/phases/reward.py
  server/services/game_manager.py
  tests/test_battle.py
  tests/test_elimination.py
Due: ruff, ruff-format, ty

Update zone display to 3-column layout with more thumbnails
  web/src/components/sidebar/Sidebar.tsx
  web/src/components/sidebar/ZoneDisplay.tsx
Due: eslint, typecheck-web

Skip reward page when game ends after battle
  server/services/game_manager.py
Due: ruff, ruff-format, ty

Add upgrade stacking display and bot sideboard viewing
  mtb/models/game.py
  server/schemas/api.py
  server/services/game_manager.py
  tests/test_battle.py
  web/src/components/PlayerList.tsx
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/components/sidebar/UpgradeStack.tsx
  web/src/components/sidebar/ZoneDisplay.tsx
  web/src/pages/phases/Battle.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

quick fixes
  server/services/game_manager.py
  tests/test_elimination.py
  web/src/components/PlayerList.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

fixing sideboard related bugs
  mtb/phases/battle.py
  server/services/game_manager.py
  tests/test_battle.py
  web/src/components/PlayerList.tsx
  web/src/components/sidebar/RewardSidebarContent.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/contexts/ContextStripContext.tsx
  web/src/contexts/contextStripState.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

reverting state after trying moving opp cards
  server/services/game_manager.py
  tests/test_battle.py
  web/src/components/zones/BattlefieldZone.tsx
  web/src/dnd/DraggableCard.tsx
  web/src/dnd/types.ts
  web/src/pages/phases/Battle.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

nice summary and bugfixes
  mtb/models/game.py
  mtb/phases/battle.py
  mtb/phases/elimination.py
  server/schemas/api.py
  server/services/game_manager.py
  tests/test_battle.py
  web/src/components/GameSummary.tsx
  web/src/components/PlayerList.tsx
  web/src/components/sidebar/RewardSidebarContent.tsx
  web/src/components/sidebar/UpgradeStack.tsx
  web/src/pages/Game.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

placement calculcation using poison
  web/src/components/GameSummary.tsx
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Remove hand indicator badge from draft pool
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

Fix flip button visibility in zoomed card modal
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Redesign post-battle phase flow for game ending bugs
  mtb/models/game.py
  mtb/phases/battle.py
  mtb/phases/elimination.py
  mtb/phases/reward.py
  server/services/game_manager.py
  tests/test_battle.py
  tests/test_elimination.py
  tests/test_game_flow.py
  web/src/pages/Game.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Fix game ending bugs found during code review
  mtb/phases/reward.py
  server/services/game_manager.py
  tests/test_elimination.py
Due: ruff, ruff-format, ty

Add bot-inclusive sudden death with build phase transition
  mtb/models/game.py
  mtb/phases/battle.py
  mtb/phases/elimination.py
  server/routers/ws.py
  server/schemas/api.py
  server/services/game_manager.py
  tests/test_elimination.py
  web/src/pages/phases/Battle.tsx
  web/src/pages/phases/Build.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Add comprehensive E2E tests for ghost and sudden death mechanics
  tests/test_ghost_sudden_death_e2e.py
Due: ruff, ruff-format, ty

Add three UI improvements for better game experience
  mtb/phases/battle.py
  server/schemas/api.py
  server/services/game_manager.py
  web/src/components/GameSummary.tsx
  web/src/components/PlayerList.tsx
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/pages/Game.tsx
  web/src/pages/Lobby.tsx
  web/src/pages/phases/Battle.tsx
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Reward.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

confirmation for upgrade
  web/src/pages/phases/Build.tsx
Due: eslint, typecheck-web

Fix sudden death not triggering for bots when human survives
  server/services/game_manager.py
  tests/test_ghost_sudden_death_e2e.py
Due: ruff, ruff-format, ty

Allow manipulating opponent cards when playing vs bots/ghosts
  mtb/phases/battle.py
  server/services/game_manager.py
  tests/test_battle.py
Due: ruff, ruff-format, ty

Add zone ownership tracking to drag-and-drop system
  web/src/dnd/DndContext.tsx
  web/src/dnd/DraggableCard.tsx
  web/src/dnd/DroppableZone.tsx
  web/src/dnd/index.ts
  web/src/dnd/types.ts
  web/src/index.css
Due: eslint, typecheck-web

Enable opponent zone interaction in UI components
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/DroppableZoneDisplay.tsx
  web/src/components/zones/BattlefieldZone.tsx
  web/src/components/zones/PileZone.tsx
Due: eslint, typecheck-web

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  ty: any of: \.py$
  eslint: any of: ^web/src/.*\.(ts|tsx)$
  typecheck-web: any of: ^web/src/.*\.(ts|tsx)$
