Repository RyanSaxe/magic-the-battling: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty, eslint, typecheck-web

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uvx ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff-format
        entry: uvx ruff format
        language: system
        types: [python]

      - id: ty
        name: ty
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typecheck-web
        name: typecheck-web
        entry: bash -c 'cd web && npm run typecheck'
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

Add peer speaking indicator with shared audio level detector
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/hooks/useVoiceChat.ts
  web/src/pages/Game.tsx
  web/src/pages/Lobby.tsx
Due: eslint, typecheck-web

Add peer self-mute visibility via mute_state signaling
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/MicToggle.tsx
  web/src/hooks/useVoiceChat.ts
Due: eslint, typecheck-web

Add host-controlled voice chat toggle to lobby
  mtb/models/game.py
  server/routers/ws.py
  server/schemas/api.py
  server/services/game_manager.py
  web/src/pages/Game.tsx
  web/src/pages/Lobby.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Fix voice chat game state typing
  web/src/types.ts
  web/src/utils/voiceChat.test.ts
Due: eslint, typecheck-web

Refactor audio detector for continuous level output
  web/src/hooks/useVoiceChat.ts
Due: eslint, typecheck-web

Add audio-reactive level bar to mic icons
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/MicToggle.tsx
  web/src/index.css
  web/src/pages/Game.tsx
  web/src/pages/Lobby.tsx
Due: eslint, typecheck-web

Unify lobby toggles into single shared pill
  web/src/pages/Lobby.tsx
Due: eslint, typecheck-web

removing bad barrier
  web/src/pages/Lobby.tsx
Due: eslint, typecheck-web

Fix animation restart loops, default voice chat off
  mtb/models/game.py
  server/observability.py
  server/schemas/api.py
  server/services/game_manager.py
  web/src/components/common/BattleResolutionOverlay.tsx
  web/src/components/common/BattleRevealOverlay.tsx
  web/src/components/common/BuildUpgradeOverlay.tsx
  web/src/pages/Lobby.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Add beta badge to voice chat toggle
  web/src/pages/Lobby.tsx
Due: eslint, typecheck-web

Add regression test for animation restart bug
  web/src/components/common/animationStability.test.ts
Due: eslint, typecheck-web

Fix voice chat signaling race and mute persistence
  web/src/hooks/useVoiceChat.ts
Due: eslint, typecheck-web

Rebrand Magic: The Battling to Crucible
  .claude/CLAUDE.md
  README.md
  pyproject.toml
  server/main.py
  server/routers/share_preview.py
  web/index.html
  web/src/guided/content.ts
  web/src/pages/Game.tsx
  web/src/pages/Home.tsx
  web/src/pages/Lobby.tsx
  web/src/pages/Play.tsx
  web/src/pages/ShareGame.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Refine header styling and fix battler refs in docs
  web/src/docs/faq.md
  web/src/docs/phases/reward.md
  web/src/pages/Home.tsx
  web/src/pages/Lobby.tsx
  web/src/pages/Play.tsx
  web/src/pages/ShareGame.tsx
Due: eslint, typecheck-web

Use solid amber-500/80 for header tagline
  web/src/pages/Home.tsx
  web/src/pages/Lobby.tsx
  web/src/pages/Play.tsx
  web/src/pages/ShareGame.tsx
Due: eslint, typecheck-web

Fix header tagline: text-xl with solid gold-dark color
  web/src/pages/Home.tsx
  web/src/pages/Lobby.tsx
  web/src/pages/Play.tsx
  web/src/pages/ShareGame.tsx
Due: eslint, typecheck-web

Restore PvP sandbox interaction for opponent public zones
  web/src/components/ActionMenu.tsx
  web/src/components/card/AttachedCardStack.tsx
  web/src/components/card/CardActionMenu.tsx
  web/src/components/sidebar/DroppableZoneDisplay.tsx
  web/src/components/zones/BattlefieldZone.tsx
  web/src/components/zones/CompactZoneDisplay.tsx
  web/src/pages/Game.tsx
  web/src/pages/phases/Battle.tsx
  web/src/utils/battleInteraction.test.ts
  web/src/utils/battleInteraction.ts
Due: eslint, typecheck-web

Refine server status notice window
  web/src/components/common/ServerStatusBanner.tsx
  web/src/components/common/ServerStatusWindow.tsx
  web/src/hooks/useWebSocket.ts
  web/src/pages/Game.tsx
  web/src/types.ts
Due: eslint, typecheck-web

Restyle header with Cinzel serif font and em-dash separator
  web/index.html
  web/src/index.css
  web/src/pages/Home.tsx
  web/src/pages/Lobby.tsx
  web/src/pages/Play.tsx
  web/src/pages/ShareGame.tsx
Due: eslint, typecheck-web

Increase httpx timeout to 30s to fix cold-cache ReadTimeout
  mtb/utils/json_helpers.py
Due: ruff, ruff-format, ty

removing issue with mobile sticky renering above card modal
  web/src/components/card/CardPreviewModal.tsx
Due: eslint, typecheck-web

fixing issue where token spawned on wrong side and also then could not be tapped
  web/src/components/ActionMenu.tsx
Due: eslint, typecheck-web

Add 3s timeout to Scryfall name fetch to prevent play page hang
  web/src/utils/prefetchName.ts
Due: eslint, typecheck-web

Add user accounts, battler dashboard, discover, and reconnection security
  pyproject.toml
  server/db/database.py
  server/db/models.py
  server/main.py
  server/routers/auth.py
  server/routers/battlers.py
  server/routers/discover.py
  server/routers/games.py
  server/routers/share_preview.py
  server/runtime_config.py
  server/schemas/api.py
  server/schemas/auth.py
  server/services/auth.py
  server/services/game_manager.py
  uv.lock
  web/src/App.tsx
  web/src/api/client.ts
  web/src/components/common/AppHeader.tsx
  web/src/components/common/InfoCard.tsx
  web/src/contexts/AuthContext.tsx
  web/src/contexts/authState.ts
  web/src/pages/BattlerView.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Discover.tsx
  web/src/pages/Home.tsx
  web/src/pages/Login.tsx
  web/src/pages/Play.tsx
  web/src/pages/Register.tsx
  web/src/pages/ShareGame.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Harden auth and preserve rejoin ownership
  server/dev.py
  server/routers/auth.py
  server/routers/battlers.py
  server/routers/games.py
  server/routers/share_preview.py
  server/runtime_config.py
  server/services/game_manager.py
  tests/test_api_games.py
  tests/test_auth.py
  tests/test_share_game.py
Due: ruff, ruff-format, ty

Redesign InfoCard and dashboard pages with premium dossier-style UI
  web/src/components/common/InfoCard.tsx
  web/src/pages/BattlerView.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Discover.tsx
Due: eslint, typecheck-web

Replace discover search with browse-first popularity list and Load More
  server/routers/discover.py
  web/src/api/client.ts
  web/src/pages/Dashboard.tsx
  web/src/pages/Discover.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Auto-follow the 'auto' cube when a new user registers
  server/routers/auth.py
Due: ruff, ruff-format, ty

Add game history filters and pagination to BattlerView
  server/routers/battlers.py
  server/schemas/auth.py
  web/src/api/client.ts
  web/src/pages/BattlerView.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Show hand card preview thumbnails on game history cards
  server/routers/battlers.py
  server/schemas/auth.py
  web/src/pages/BattlerView.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Add Load More pagination to My Cubes and Following tabs
  server/routers/battlers.py
  web/src/api/client.ts
  web/src/pages/BattlerView.tsx
  web/src/pages/Dashboard.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Exclude abandoned games from history and discover stats
  server/routers/battlers.py
  server/routers/discover.py
Due: ruff, ruff-format, ty

Use account username for logged-in users on Play and Join pages
  web/src/components/home/JoinGameModal.tsx
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Populate user_id on PlayerGameHistory from GamePlayerRecord
  server/services/game_manager.py
Due: ruff, ruff-format, ty

Add 'Games' tab showing all completed games for the logged-in user
  server/routers/battlers.py
  web/src/api/client.ts
  web/src/pages/Dashboard.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

card action add
  web/src/components/common/InfoCard.tsx
Due: eslint, typecheck-web

Fix Discover page to use new InfoCard actions API
  web/src/pages/Discover.tsx
Due: eslint, typecheck-web

Fix auth helpers to use FastAPI dependency-injected DB session
  server/services/auth.py
Due: ruff, ruff-format, ty

Fix CI failures: add missing winner_player_id in test and auth secret in perf workflow
  .github/workflows/pr-load-test.yml
  tests/test_share_game.py
Due: ruff, ruff-format, ty

Extract shared battlerPlayUrl utility
  web/src/pages/BattlerView.tsx
  web/src/pages/Dashboard.tsx
  web/src/utils/battlerPlayUrl.ts
Due: eslint, typecheck-web
