Repository RyanSaxe/magic-the-battling: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty, eslint, typecheck-web

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uvx ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff-format
        entry: uvx ruff format
        language: system
        types: [python]

      - id: ty
        name: ty
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typecheck-web
        name: typecheck-web
        entry: bash -c 'cd web && npm run typecheck'
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

Fix companion appearing in both hand and command zone
  mtb/phases/build.py
  tests/test_build.py
Due: ruff, ruff-format, ty

Fix token spawning, menu positioning, and pre-existing type errors
  mtb/phases/battle.py
  server/services/game_manager.py
  tests/test_battle.py
  tests/test_elimination.py
  tests/test_ghost_sudden_death_e2e.py
  web/src/components/card/CardActionMenu.tsx
  web/src/pages/phases/Battle.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Add play/draw selection for coin flip winner
  mtb/models/game.py
  mtb/phases/battle.py
  server/routers/ws.py
  server/schemas/api.py
  server/services/game_manager.py
  tests/test_battle.py
  tests/test_phase_validation.py
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/hooks/useGame.ts
  web/src/pages/phases/Battle.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

fixing bug where spectate button shows after game over
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Add turn tracking with pass button to battle sidebar
  mtb/models/game.py
  mtb/phases/battle.py
  server/routers/ws.py
  server/schemas/api.py
  server/services/game_manager.py
  tests/test_phase_validation.py
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/hooks/useGame.ts
  web/src/pages/Game.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Enable cross-player zone moves in battle sandbox mode
  mtb/models/cards.py
  mtb/phases/battle.py
  server/routers/ws.py
  server/services/game_manager.py
  tests/test_battle.py
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/zones/BattlefieldZone.tsx
  web/src/components/zones/HandZone.tsx
  web/src/components/zones/PileZone.tsx
  web/src/dnd/DndContext.tsx
  web/src/dnd/DroppableZone.tsx
  web/src/dnd/useDndActions.ts
  web/src/dnd/useGameDnd.ts
  web/src/hooks/useGame.ts
  web/src/pages/Game.tsx
  web/src/pages/phases/Battle.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Clarify uvx usage for tools in CLAUDE.md
  .claude/CLAUDE.md
Due: none

Fix revealed cards tracking for cross-player zone moves
  mtb/phases/battle.py
  server/services/game_manager.py
Due: ruff, ruff-format, ty

changing button names so UI looks cleaner
  web/src/components/sidebar/BattleSidebarContent.tsx
Due: eslint, typecheck-web

Fix reward sidebar to reuse default Sidebar view
  server/services/game_manager.py
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/RewardSidebarContent.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/pages/Game.tsx
  web/src/pages/phases/Battle.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Add viewport-responsive card sizing across all phases
  web/src/components/zones/BattlefieldZone.tsx
  web/src/components/zones/HandZone.tsx
  web/src/hooks/useViewportCardSizes.ts
  web/src/index.css
  web/src/pages/phases/Battle.tsx
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

Add mobile sidebar drawer and compact battle bar
  web/src/components/sidebar/Sidebar.tsx
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Move action buttons to fixed bottom bar on mobile
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Add min-height to hand zones in battle phase
  web/src/pages/phases/Battle.tsx
Due: eslint, typecheck-web

Replace discrete card sizes with continuous scaling
  web/src/components/card/AttachedCardStack.tsx
  web/src/components/card/Card.tsx
  web/src/components/card/CardBack.tsx
  web/src/components/zones/BattlefieldZone.tsx
  web/src/components/zones/HandZone.tsx
  web/src/dnd/DraggableCard.tsx
  web/src/hooks/useViewportCardSizes.ts
  web/src/index.css
  web/src/pages/phases/Battle.tsx
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

Add responsive overflow handling to rules modal
  web/src/components/RulesModal.tsx
Due: eslint, typecheck-web

Fix upgrade confirmation modal card stretching on mobile
  web/src/pages/phases/Build.tsx
Due: eslint, typecheck-web

Use viewport-responsive sizing for reward phase cards
  web/src/pages/phases/Reward.tsx
Due: eslint, typecheck-web

Eliminate 300ms mobile tap delay on cards
  web/src/index.css
Due: none

Add useContainerCardSizes hook for container-aware card sizing
  web/src/hooks/useContainerCardSizes.ts
Due: eslint, typecheck-web

Use container-aware card sizing in Draft phase
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

Use container-aware card sizing in Build phase
  web/src/pages/phases/Build.tsx
Due: eslint, typecheck-web

Use container-aware sizing for upgrade and pool cards in Reward phase
  web/src/pages/phases/Reward.tsx
Due: eslint, typecheck-web

Compact Build phase layout to maximize card space
  web/src/pages/phases/Build.tsx
Due: eslint, typecheck-web

Integrate companion selection into sideboard pool
  web/src/pages/phases/Build.tsx
Due: eslint, typecheck-web

Compact Draft phase layout to maximize card space
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

Remove battle hand card overlap, use gap instead
  web/src/components/zones/HandZone.tsx
  web/src/index.css
Due: eslint, typecheck-web

Place pack/hand between poison and treasure icons
  web/src/components/PlayerStatsBar.tsx
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

Add auto-fit card sizing for no-scroll sideboard
  web/src/hooks/useAutoFitCardSizes.ts
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

Inline upgrades in Build sideboard pool
  web/src/components/sidebar/UpgradeStack.tsx
  web/src/pages/phases/Build.tsx
Due: eslint, typecheck-web

Use smaller cards for sideboard in game summary
  web/src/components/GameSummary.tsx
Due: eslint, typecheck-web

Move battle result header from sidebar into Reward page
  web/src/pages/Game.tsx
  web/src/pages/phases/Reward.tsx
Due: eslint, typecheck-web

Add separator line between pack and pool in Draft
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

Cap pool card size relative to pack/hand cards
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

Stack poison/treasure as compact right-edge badges
  web/src/components/PlayerStatsBar.tsx
Due: eslint, typecheck-web

Add useDualZoneCardSizes hook for coordinated sizing
  web/src/hooks/useDualZoneCardSizes.ts
Due: eslint, typecheck-web

Wire useDualZoneCardSizes into Draft phase
  web/src/components/PlayerStatsBar.tsx
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

Wire useDualZoneCardSizes into Build phase
  web/src/pages/phases/Build.tsx
Due: eslint, typecheck-web

Fix card sizing and inline stats into Build/Draft phases
  web/src/components/PlayerStatsBar.tsx
  web/src/hooks/useDualZoneCardSizes.ts
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

Replace fraction-based dual-zone sizing with row enumeration
  web/src/hooks/useDualZoneCardSizes.ts
Due: eslint, typecheck-web
