Repository RyanSaxe/magic-the-battling: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty, eslint, typecheck-web

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uvx ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff-format
        entry: uvx ruff format
        language: system
        types: [python]

      - id: ty
        name: ty
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typecheck-web
        name: typecheck-web
        entry: bash -c 'cd web && npm run typecheck'
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

Revert "Add shared frame rail utility classes"
  web/src/index.css
Due: none

treasure was wrong size
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

Align mobile Home/Play header layout
  web/src/pages/Home.tsx
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Polish lobby recovery UX and smooth hint transitions
  web/src/components/common/HintsBanner.tsx
  web/src/components/common/ServerStatusBanner.tsx
  web/src/contexts/ToastContext.tsx
  web/src/hooks/useGame.ts
  web/src/hooks/useWebSocket.ts
  web/src/index.css
  web/src/pages/Game.tsx
  web/src/pages/Home.tsx
  web/src/pages/Lobby.tsx
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Fix lobby guide label and tip banner rotation
  web/src/components/common/HintsBanner.tsx
  web/src/pages/Lobby.tsx
Due: eslint, typecheck-web

Add board-rail variant for hints banner
  web/src/components/common/HintsBanner.tsx
  web/src/index.css
Due: eslint, typecheck-web

Unify Play page into single board-style panel
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Checkpoint current UI and phase updates
  web/src/components/PhasePopover.tsx
  web/src/components/PhaseTimeline.tsx
  web/src/components/common/HintsBanner.tsx
  web/src/constants/phases.ts
  web/src/index.css
  web/src/pages/Game.tsx
  web/src/pages/Lobby.tsx
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Unify Play page to single active-mode layout
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Polish play controls and lobby vertical spacing
  web/src/pages/Lobby.tsx
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Polish share actions and play button styling
  web/src/components/ShareModal.tsx
  web/src/pages/Game.tsx
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Refine share layout, phase popover actions, and play controls styling
  web/src/components/PhasePopover.tsx
  web/src/components/PhaseTimeline.tsx
  web/src/index.css
  web/src/pages/Play.tsx
  web/src/pages/ShareGame.tsx
Due: eslint, typecheck-web

Polish Play/Lobby borders and settings modal styling
  web/src/index.css
  web/src/pages/Lobby.tsx
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Fix share page HTML cache invalidation for hashed assets
  server/routers/share_preview.py
Due: ruff, ruff-format, ty

fixing bugs in layout on share page and ui issues cleaned up
  web/src/components/QuickGuide.tsx
  web/src/components/common/CubeCobraPrimerLink.tsx
  web/src/components/common/PoisonCard.tsx
  web/src/components/common/TokenCounterBadge.tsx
  web/src/components/common/TreasureCard.tsx
  web/src/components/common/ZoneLayout.tsx
  web/src/constants/phases.ts
  web/src/hooks/useCardLayout.ts
  web/src/pages/Home.tsx
  web/src/pages/Lobby.tsx
  web/src/pages/Play.tsx
  web/src/pages/ShareGame.tsx
Due: eslint, typecheck-web

light cleanups for things to look best
  web/src/components/PhasePopover.tsx
  web/src/components/QuickGuide.tsx
  web/src/components/common/CubeCobraPrimerLink.tsx
  web/src/constants/phases.ts
  web/src/pages/Home.tsx
  web/src/pages/Lobby.tsx
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

making this look better on mobile
  web/src/constants/phases.ts
Due: eslint, typecheck-web

discord color was too dark
  web/src/components/QuickGuide.tsx
  web/src/pages/Home.tsx
  web/src/pages/Lobby.tsx
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Style Join Game modal to match play/lobby form chrome
  web/src/components/home/JoinGameModal.tsx
Due: eslint, typecheck-web

Refine guided popover close behavior and include docs updates
  web/src/components/PhasePopover.tsx
  web/src/components/PhaseTimeline.tsx
  web/src/docs/controls.md
  web/src/docs/faq.md
  web/src/docs/game-pieces.md
  web/src/docs/non-human-players.md
  web/src/docs/overview.md
  web/src/docs/quick-overview.md
  web/src/docs/winning-the-game.md
Due: eslint, typecheck-web

fixing the guide as much as I can
  web/src/components/QuickGuide.tsx
  web/src/docs/faq.md
  web/src/docs/parse.ts
Due: eslint, typecheck-web

all done but overview
  web/src/components/CardsView.tsx
  web/src/components/QuickGuide.tsx
  web/src/docs/tips.md
Due: eslint, typecheck-web

Polish QuickGuide visual design with accordion gold accents, typography overhaul, and embossed hotkey chips
  web/src/components/DocRenderer.tsx
  web/src/components/HotkeyRow.tsx
  web/src/components/QuickGuide.tsx
  web/src/index.css
Due: eslint, typecheck-web

Smart accordion panel cap and walnut-themed scrollbar
  web/src/components/QuickGuide.tsx
  web/src/index.css
Due: eslint, typecheck-web

Polish QuickGuide: dark walnut scrollbar, close button alignment, subtler links, numbered lists, and gold-bordered header/footer
  web/src/components/DocRenderer.tsx
  web/src/components/QuickGuide.tsx
  web/src/index.css
Due: eslint, typecheck-web

quick changes to docs
  web/src/docs/phases/battle.md
  web/src/docs/phases/build.md
Due: none

quick changes to docs
  web/src/docs/quick-overview.md
Due: none

changing docs and styling to match docs
  web/src/components/QuickGuide.tsx
  web/src/docs/parse.ts
  web/src/docs/phases/battle.md
  web/src/docs/phases/build.md
  web/src/docs/phases/draft.md
  web/src/docs/phases/reward.md
  web/src/index.css
Due: eslint, typecheck-web

adding comprehensive doc links
  web/src/docs/controls.md
  web/src/docs/faq.md
  web/src/docs/game-pieces.md
  web/src/docs/phases/battle.md
  web/src/docs/phases/draft.md
  web/src/docs/phases/reward.md
  web/src/docs/quick-overview.md
  web/src/docs/tips.md
Due: none

cleaning up text in docs
  web/src/docs/phases/battle.md
  web/src/docs/phases/build.md
  web/src/docs/phases/draft.md
  web/src/docs/phases/reward.md
  web/src/docs/quick-overview.md
Due: none

cleaning docs
  web/src/docs/phases/reward.md
Due: none

make deploy-main curl calls resilient to missing ops endpoint
  .github/workflows/deploy-main.yml
Due: none

reduce dev drain delay from 10 minutes to 1 minute
  .github/workflows/deploy-dev.yml
Due: none

add auto-release job to deploy-main workflow
  .github/workflows/deploy-main.yml
Due: none

make prod deploy delay label-driven (quick/default/long)
  .github/workflows/deploy-main.yml
Due: none

document PR label system for deploy delay and releases
  README.md
Due: none

make dev deploy delay label-driven with quick (0m) as default
  .github/workflows/deploy-dev.yml
Due: none

update README to document dev vs prod deploy delay defaults
  README.md
Due: none

hide zoom button on basic lands and treasure tokens
  web/src/components/card/Card.tsx
Due: eslint, typecheck-web

add opponent controls in battle sidebar for puppet/ghost games
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/pages/Game.tsx
Due: eslint, typecheck-web
