Repository RyanSaxe/magic-the-battling: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty, eslint, typecheck-web

ruff:
  name: ruff
  entry: uvx ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: uvx ruff format
  language: system

ty:
  name: ty
  entry: uvx ty check
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

typecheck-web:
  name: typecheck-web
  entry: bash -c 'cd web && npm run typecheck'
  language: system
  pass_filenames: false

Simplify warm endpoint and make async
  server/routers/games.py
Due: ruff, ruff-format, ty

Reuse ThreadPoolExecutor for card processing
  mtb/utils/cubecobra.py
Due: ruff, ruff-format, ty

Preview: lazy browser startup, disk cache, and reduced memory
  server/main.py
  server/routers/share_preview.py
  server/services/preview.py
Due: ruff, ruff-format, ty

Update OG meta image dimensions to match 1x scale
  server/routers/share_preview.py
Due: ruff, ruff-format, ty

Set ended_at on GameRecord during game cleanup
  server/services/game_manager.py
Due: ruff, ruff-format, ty

Add periodic stale game record cleanup
  server/runtime_config.py
  server/services/game_manager.py
Due: ruff, ruff-format, ty

Stop client 404 polling after consecutive failures
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Bump production VM to 2GB RAM / 2 shared CPUs
  fly.toml
Due: none

Make DiskCache directory creation lazy for test compatibility
  server/services/preview.py
Due: ruff, ruff-format, ty

Isolate perf sweeps with fresh servers
  .github/workflows/pr-load-test.yml
  server/main.py
  server/perf/load_harness.py
  server/runtime_config.py
  tests/test_perf_harness.py
Due: ruff, ruff-format, ty

Fix flaky websocket test isolation
  tests/conftest.py
  tests/test_api_websocket.py
  tests/test_phase_validation.py
  tests/test_runtime_isolation.py
Due: ruff, ruff-format, ty

Dispose test SQLite engines
  tests/conftest.py
Due: ruff, ruff-format, ty

Tighten test resource cleanup
  server/perf/load_harness.py
  tests/conftest.py
  tests/test_json_helpers.py
  tests/test_perf_harness.py
Due: ruff, ruff-format, ty

Run stale game cleanup immediately on startup
  server/services/game_manager.py
Due: ruff, ruff-format, ty

upgrading wording across docs and guides
  web/src/components/QuickGuide.tsx
  web/src/constants/phases.ts
  web/src/docs/faq.md
  web/src/docs/game-pieces.md
  web/src/docs/quick-overview.md
  web/src/docs/tips.md
  web/src/guided/GuideTooltip.tsx
  web/src/guided/content.ts
  web/src/pages/Lobby.tsx
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Deduplicate battler serialization in game snapshots
  mtb/models/game.py
  server/services/game_manager.py
Due: ruff, ruff-format, ty

Flyweight Card refactor: separate shared CardData from per-instance state
  mtb/models/card_registry.py
  mtb/models/cards.py
  mtb/models/game.py
  mtb/phases/battle.py
  mtb/utils/cubecobra.py
  mtb/utils/scryfall.py
  pyproject.toml
  server/routers/games.py
  server/services/game_manager.py
  tests/conftest.py
  tests/test_draft.py
  tests/test_game_init.py
Due: ruff, ruff-format, ty

Refactor runtime state around card catalog refs
  mtb/models/card_registry.py
  mtb/models/cards.py
  mtb/models/game.py
  server/perf/load_harness.py
  server/routers/games.py
  server/routers/ws.py
  server/schemas/api.py
  server/services/game_manager.py
  server/services/game_serialization.py
  tests/test_api_games.py
  tests/test_api_websocket.py
  tests/test_battle.py
  tests/test_perf_harness.py
  tests/test_phase_validation.py
  web/src/api/client.ts
  web/src/hooks/useWebSocket.ts
  web/src/types.ts
  web/src/utils/catalogHydration.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Improve perf matrix and runtime card hydration
  .github/workflows/pr-load-test.yml
  server/perf/load_harness.py
  server/schemas/api.py
  server/services/game_manager.py
  server/services/game_serialization.py
  tests/test_game_manager.py
  tests/test_game_serialization.py
  tests/test_perf_harness.py
  web/src/hooks/useWebSocket.ts
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Add battle UI fixes and DB migration scripts
  Dockerfile
  README.md
  scripts/maintain_db.py
  scripts/migrate_snapshot_storage.py
  scripts/start_server.sh
  server/db/maintenance.py
  server/db/snapshot_migration.py
  tests/test_db_maintenance.py
  tests/test_json_helpers.py
  tests/test_snapshot_migration.py
  web/src/components/common/BattleResolutionOverlay.tsx
  web/src/components/common/DndPanel.test.ts
  web/src/components/common/DndPanel.tsx
  web/src/components/common/DndPanelLayout.ts
  web/src/guided/GuidedWalkthrough.tsx
  web/src/index.css
  web/src/pages/Game.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Fix battle modal state and overlay interactions
  web/src/components/common/BattleResolutionOverlay.tsx
  web/src/components/common/UpgradesModal.tsx
  web/src/index.css
  web/src/pages/Game.tsx
  web/src/pages/phases/Battle.tsx
Due: eslint, typecheck-web

Fix build-phase double move race and enforce hand cap
  mtb/phases/build.py
  server/services/game_manager.py
  tests/test_build.py
  tests/test_phase_validation.py
  web/src/pages/phases/Build.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Keep battle view mounted for resolution overlay
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Fix duplicate battle zone draggables
  web/src/components/sidebar/DroppableZoneDisplay.tsx
  web/src/components/zones/CompactZoneDisplay.tsx
  web/src/dnd/DndContext.tsx
  web/src/dnd/DraggableCard.tsx
  web/src/dnd/index.ts
  web/src/dnd/types.ts
  web/src/dnd/useGameDnd.ts
Due: eslint, typecheck-web

Stabilize guided walkthrough transitions
  web/src/guided/GuideTooltip.tsx
  web/src/guided/GuidedWalkthrough.tsx
  web/src/guided/useGuidePositioning.ts
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Redesign guided walkthrough animations with fade-shift-reveal
  web/src/guided/GuideOverlay.tsx
  web/src/guided/GuideTooltip.tsx
  web/src/guided/GuidedWalkthrough.tsx
  web/src/index.css
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Fix three guided walkthrough animation artifacts
  web/src/guided/GuideTooltip.tsx
  web/src/guided/GuidedWalkthrough.tsx
  web/src/guided/content.ts
Due: eslint, typecheck-web

Fix dot pop, button dim flash, and guide drift on phase change
  web/src/guided/GuideTooltip.tsx
  web/src/guided/GuidedWalkthrough.tsx
  web/src/index.css
Due: eslint, typecheck-web

Revert guide fix attempts from 5c693a5 and 00118cd
  web/src/guided/GuidedWalkthrough.tsx
  web/src/guided/content.ts
Due: eslint, typecheck-web

holding
  web/src/guided/GuideTooltip.tsx
  web/src/index.css
  web/src/pages/Game.tsx
  web/src/pages/gameGuideState.test.ts
  web/src/pages/gameGuideState.ts
Due: eslint, typecheck-web

Fix guided walkthrough close behavior
  web/src/guided/GuidedWalkthrough.tsx
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Add WebRTC voice chat for PvP battles
  server/routers/ws.py
  server/services/game_manager.py
  tests/test_voice_signal.py
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/VoiceControls.tsx
  web/src/hooks/useGame.ts
  web/src/hooks/useVoiceChat.ts
  web/src/hooks/useWebSocket.ts
  web/src/pages/Game.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Extend voice chat to N-way mesh across all phases
  server/routers/ws.py
  server/services/game_manager.py
  tests/test_voice_signal.py
  web/src/components/PlayerList.tsx
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/MicToggle.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/components/sidebar/VoiceControls.tsx
  web/src/hooks/useVoiceChat.ts
  web/src/pages/Game.tsx
  web/src/pages/Lobby.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Add optional HTTPS for local dev via mkcert
  .gitignore
  web/vite.config.ts
Due: none

Add battle library actions and lobby player cap
  mtb/models/types.py
  mtb/phases/battle.py
  server/routers/games.py
  server/routers/ws.py
  server/services/game_manager.py
  tests/test_battle.py
  tests/test_game_manager.py
  web/src/components/ActionMenu.tsx
  web/src/components/card/CardActionMenu.tsx
  web/src/components/common/DndPanel.tsx
  web/src/components/sidebar/DroppableZoneDisplay.tsx
  web/src/components/sidebar/PlayerDetailPanel.tsx
  web/src/components/zones/BattlefieldZone.tsx
  web/src/components/zones/BattlefieldZoneColumn.tsx
  web/src/components/zones/CompactZoneDisplay.tsx
  web/src/components/zones/HandZone.tsx
  web/src/components/zones/PileZone.tsx
  web/src/constants/phases.ts
  web/src/dnd/useDndActions.ts
  web/src/hooks/useGame.ts
  web/src/pages/Game.tsx
  web/src/pages/Lobby.tsx
  web/src/pages/phases/Battle.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Update reward popup copy
  web/src/constants/phases.ts
Due: eslint, typecheck-web

Fix opponent library actions in battle
  server/services/game_manager.py
  tests/test_battle.py
  tests/test_game_manager.py
  web/src/components/ActionMenu.tsx
  web/src/pages/Game.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Adjust battle UI chrome and voice gating
  web/src/components/card/Card.tsx
  web/src/components/common/DndPanel.tsx
  web/src/components/sidebar/PlayerDetailPanel.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/hooks/useViewportCardSizes.test.ts
  web/src/hooks/useViewportCardSizes.ts
  web/src/index.css
  web/src/pages/Game.tsx
  web/src/utils/voiceChat.test.ts
  web/src/utils/voiceChat.ts
Due: eslint, typecheck-web

Add small shell mode for game and share
  web/src/components/PhaseTimeline.tsx
  web/src/components/common/DndPanel.tsx
  web/src/hooks/useGameShellMode.test.ts
  web/src/hooks/useGameShellMode.ts
  web/src/hooks/useViewportCardSizes.test.ts
  web/src/hooks/useViewportCardSizes.ts
  web/src/pages/Game.tsx
  web/src/pages/ShareGame.tsx
Due: eslint, typecheck-web

Show battle top rail in small shell mode
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  ty: any of: \.py$
  eslint: any of: ^web/src/.*\.(ts|tsx)$
  typecheck-web: any of: ^web/src/.*\.(ts|tsx)$
