Repository RyanSaxe/magic-the-battling: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty, eslint, typecheck-web

ruff:
  name: ruff
  entry: uvx ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: uvx ruff format
  language: system

ty:
  name: ty
  entry: uvx ty check
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

typecheck-web:
  name: typecheck-web
  entry: bash -c 'cd web && npm run typecheck'
  language: system
  pass_filenames: false

Enable full opponent card manipulation in battle phase
  web/src/pages/Game.tsx
  web/src/pages/phases/Battle.tsx
Due: eslint, typecheck-web

Show survival/elimination badges in sudden death
  web/src/components/PlayerList.tsx
  web/src/components/sidebar/Sidebar.tsx
Due: eslint, typecheck-web

Make upgrade confirmation modal cards larger
  web/src/pages/phases/Build.tsx
Due: eslint, typecheck-web

Fix opponent card manipulation in battle phase
  server/schemas/api.py
  server/services/game_manager.py
  web/src/dnd/useDndActions.ts
  web/src/pages/phases/Battle.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Fix duplicate card IDs when cube has multiple copies
  mtb/utils/cubecobra.py
Due: ruff, ruff-format, ty

Add companion support with command zone in battle phase
  mtb/models/cards.py
  mtb/models/game.py
  mtb/phases/battle.py
  mtb/phases/build.py
  mtb/utils/cubecobra.py
  mtb/utils/scryfall.py
  server/routers/ws.py
  server/schemas/api.py
  server/services/game_manager.py
  tests/test_battle.py
  tests/test_build.py
  tests/test_phase_validation.py
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/DroppableZoneDisplay.tsx
  web/src/components/zones/BattlefieldZone.tsx
  web/src/components/zones/HandZone.tsx
  web/src/dnd/useDndActions.ts
  web/src/hooks/useGame.ts
  web/src/pages/Lobby.tsx
  web/src/pages/phases/Battle.tsx
  web/src/pages/phases/Build.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Show companion indicators in sidebar and fix upgrade duplication
  mtb/phases/battle.py
  server/schemas/api.py
  server/services/game_manager.py
  tests/test_battle.py
  web/src/components/card/Card.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/components/sidebar/ZoneDisplay.tsx
  web/src/dnd/DraggableCard.tsx
  web/src/pages/phases/Battle.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Fix PvP draw showing zero poison dealt
  mtb/phases/reward.py
Due: ruff, ruff-format, ty

Fix companion selection and improve UI indicators
  server/services/game_manager.py
  tests/test_battle.py
  web/src/components/GameSummary.tsx
  web/src/components/card/Card.tsx
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/pages/Game.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Fix companion display bugs for bots and opponents
  server/services/game_manager.py
  tests/test_battle.py
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/pages/Game.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Fix populate_hand exceeding hand_size limit
  mtb/models/game.py
  tests/test_game_flow.py
Due: ruff, ruff-format, ty

Fix sudden death badge to show skull for both fighters
  server/schemas/api.py
  server/services/game_manager.py
  web/src/components/PlayerList.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/pages/Game.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Fix ghost player causing battler.cards to stay empty after draft
  mtb/phases/draft.py
  tests/test_draft.py
Due: ruff, ruff-format, ty

Redesign draft architecture to prevent ghost cleanup issues
  mtb/models/cards.py
  mtb/phases/draft.py
  server/services/game_manager.py
  tests/test_draft.py
  tests/test_elimination.py
  tests/test_game_flow.py
Due: ruff, ruff-format, ty

Show contextual status for eliminated/ghost players
  web/src/components/PlayerList.tsx
Due: eslint, typecheck-web

Freeze player state on GameSummary mount
  web/src/components/GameSummary.tsx
Due: eslint, typecheck-web

Fix sudden death bot display issues
  server/services/game_manager.py
Due: ruff, ruff-format, ty

Show "ready" status for players who submitted build
  server/schemas/api.py
  server/services/game_manager.py
  web/src/components/PlayerList.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Fix sudden death bot badge when bot is eliminated
  server/services/game_manager.py
Due: ruff, ruff-format, ty

Improve player list and battle UI
  web/src/components/PlayerList.tsx
  web/src/components/icons/HourglassIcon.tsx
  web/src/components/icons/SkullIcon.tsx
  web/src/components/icons/index.ts
  web/src/components/sidebar/BattleSidebarContent.tsx
Due: eslint, typecheck-web

Move poison counters below life totals in battle sidebar
  web/src/components/sidebar/BattleSidebarContent.tsx
Due: eslint, typecheck-web

Polish battle phase UI layout
  web/src/components/zones/BattlefieldZone.tsx
  web/src/components/zones/HandZone.tsx
  web/src/index.css
  web/src/pages/phases/Battle.tsx
Due: eslint, typecheck-web

adding rules and links
  web/src/components/RulesModal.tsx
  web/src/components/icons/InfoIcon.tsx
  web/src/components/icons/index.ts
  web/src/constants/rules.ts
  web/src/index.css
  web/src/pages/Game.tsx
  web/src/pages/Home.tsx
  web/src/pages/Lobby.tsx
  web/src/types.ts
Due: eslint, typecheck-web

making rules correct and look nicer
  web/src/constants/rules.ts
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

making upgrades pop and changing borders to never cutoff
  mtb/models/game.py
  web/src/components/card/AttachedCardStack.tsx
  web/src/components/card/Card.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/components/sidebar/ZoneDisplay.tsx
  web/src/components/zones/BattlefieldZone.tsx
  web/src/components/zones/HandZone.tsx
  web/src/dnd/DraggableCard.tsx
  web/src/index.css
  web/src/pages/phases/Battle.tsx
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Draft.tsx
  web/src/pages/phases/Reward.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Restructure battle sidebar with mirrored zone layout
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/DroppableZoneDisplay.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/pages/Game.tsx
  web/src/pages/Lobby.tsx
  web/src/pages/phases/Battle.tsx
Due: eslint, typecheck-web

Fix companion not cleared when swapped back to pack
  mtb/phases/draft.py
  tests/test_draft.py
Due: ruff, ruff-format, ty

Fix bot selection always picking same bots in lobby
  server/services/game_manager.py
  tests/test_game_manager.py
Due: ruff, ruff-format, ty

Filter out low-quality bot candidates
  server/services/game_manager.py
  tests/test_game_manager.py
Due: ruff, ruff-format, ty

Add spectator mode with player selection UI
  server/dev.py
  server/main.py
  server/routers/games.py
  server/routers/ws.py
  server/schemas/api.py
  server/services/game_manager.py
  web/src/api/client.ts
  web/src/hooks/useGame.ts
  web/src/hooks/useWebSocket.ts
  web/src/pages/Game.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

fixing bug with waiting for game forever
  server/routers/ws.py
  server/services/game_manager.py
Due: ruff, ruff-format, ty

Add spectate option for eliminated players on game summary
  web/src/components/GameSummary.tsx
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Add pending connection tracking to prevent rejoin race conditions
  server/routers/games.py
  server/routers/ws.py
  server/services/game_manager.py
  tests/test_game_manager.py
  web/src/api/client.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Simplify spectator mode for eliminated players
  web/src/components/GameSummary.tsx
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Fix spectate mode and rejoin with proper cleanup and logs
  server/main.py
  server/routers/games.py
  server/routers/ws.py
  server/services/game_manager.py
  web/src/pages/Game.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Surface backend error messages in frontend
  web/src/api/client.ts
  web/src/pages/Game.tsx
  web/src/pages/Home.tsx
Due: eslint, typecheck-web

Add auto-approve spectators option
  mtb/models/game.py
  server/routers/games.py
  server/schemas/api.py
  server/services/game_manager.py
  web/src/api/client.ts
  web/src/pages/Home.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Add one-click spectate when auto-approve is enabled
  server/routers/games.py
  server/schemas/api.py
  web/src/pages/Game.tsx
  web/src/pages/Home.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Skip spectate request notification when auto-approve is on
  server/routers/games.py
  web/src/pages/Home.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

making it really easy to see poison counters and treasures
  web/src/components/PlayerStatsBar.tsx
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  ty: any of: \.py$
  eslint: any of: ^web/src/.*\.(ts|tsx)$
  typecheck-web: any of: ^web/src/.*\.(ts|tsx)$
