Repository RyanSaxe/magic-the-battling: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty, eslint, typecheck-web

ruff:
  name: ruff
  entry: uvx ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: uvx ruff format
  language: system

ty:
  name: ty
  entry: uvx ty check
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

typecheck-web:
  name: typecheck-web
  entry: bash -c 'cd web && npm run typecheck'
  language: system
  pass_filenames: false

Fix resize flickering with 2% per-extra-row penalty
  web/src/hooks/cardSizeUtils.ts
  web/src/hooks/useCardLayout.test.ts
  web/src/hooks/useCardLayout.ts
Due: eslint, typecheck-web

Fix upgrade column overflow in BR layout
  web/src/components/common/ZoneLayout.tsx
  web/src/hooks/useCardLayout.ts
Due: eslint, typecheck-web

Show all upgrades on elimination and share pages
  mtb/models/game.py
  server/routers/games.py
  server/schemas/api.py
  server/services/game_manager.py
  web/src/components/GameSummary.tsx
  web/src/components/common/DeckDisplay.tsx
  web/src/components/share/ShareRoundDetail.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Strengthen row penalty from 0.98 to 0.83 to fix resize flickering
  web/src/hooks/cardSizeUtils.ts
  web/src/hooks/useCardLayout.ts
Due: eslint, typecheck-web

Fix upgrade column overflow by sizing BR after primary zones
  web/src/hooks/useCardLayout.test.ts
  web/src/hooks/useCardLayout.ts
Due: eslint, typecheck-web

Fix share page to use full upgrades list instead of only applied
  web/src/pages/ShareGame.tsx
  web/src/utils/share.ts
Due: eslint, typecheck-web

Remove fill bias from scoring, fix label clipping, drop min card width
  web/src/components/common/ZoneLayout.tsx
  web/src/hooks/cardSizeUtils.ts
  web/src/hooks/useCardLayout.ts
Due: eslint, typecheck-web

Quantize ResizeObserver dimensions to prevent layout flickering
  web/src/hooks/useCardLayout.ts
Due: eslint, typecheck-web

Add post-hoc scale-up pass to fill unused vertical space
  web/src/hooks/useCardLayout.test.ts
  web/src/hooks/useCardLayout.ts
Due: eslint, typecheck-web

Restore sqrt(fill) scoring and add zone weight preference
  web/src/hooks/cardSizeUtils.ts
  web/src/hooks/useCardLayout.ts
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

Revert zone weight feature for testing
  web/src/hooks/useCardLayout.ts
  web/src/pages/phases/Build.tsx
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

Stabilize sideboard count to prevent card resize flicker
  web/src/pages/phases/Build.tsx
Due: eslint, typecheck-web

Size basic land popover to match battlefield and clamp to viewport
  web/src/components/common/BasicLandSlot.tsx
Due: eslint, typecheck-web

Add HintsBanner component with game tips
  web/src/components/common/HintsBanner.tsx
  web/src/constants/hints.ts
  web/src/index.css
Due: eslint, typecheck-web

Replace blockquote descriptions with centered pull-quotes
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Integrate HintsBanner into Play and Lobby pages
  web/src/pages/Lobby.tsx
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Replace full-screen solo loading with inline spinner + overlay
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Add cube cache warming with ETag revalidation
  mtb/utils/json_helpers.py
  server/routers/games.py
  web/src/api/client.ts
  web/src/pages/Play.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Use static loading text for solo spinner button
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Replace pull-quote descriptions with foil shimmer text
  web/src/index.css
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Slow down foil shimmer and make it loop continuously
  web/src/index.css
Due: none

Replace foil shimmer with inset gold glow description panels
  web/src/index.css
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Deepen description panel inset for carved/sunken effect
  web/src/index.css
Due: none

Add black borders, inline desktop titles, friends loading spinner
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Unify cube loading on Play page for both flows
  web/src/pages/Lobby.tsx
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

shorter hints
  web/src/constants/hints.ts
Due: eslint, typecheck-web

Polish Lobby page with two-column layout and visual upgrades
  server/schemas/api.py
  server/services/game_manager.py
  web/src/pages/Lobby.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

fixing desktop lobby page
  web/src/pages/Lobby.tsx
Due: eslint, typecheck-web

Restyle HintsBanner as callout with fixed label and dark variant
  web/src/components/common/HintsBanner.tsx
Due: eslint, typecheck-web

Redesign Lobby layout with grouped sections and tighter spacing
  web/src/pages/Lobby.tsx
Due: eslint, typecheck-web

Move Play page tips to bottom with dark variant
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Add home button and always show puppet ? for host in Lobby
  web/src/pages/Lobby.tsx
Due: eslint, typecheck-web

Match Play page header to Home page layout and keep gear visible during loading
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Replace footer with Discord button in header
  web/src/pages/Home.tsx
Due: eslint, typecheck-web

Replace footer with Discord button in Play header and fix hints banner spacing
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Add gzip compression for WebSocket and HTTP responses
  server/compression.py
  server/dev.py
  server/main.py
  server/routers/ws.py
  tests/conftest.py
  web/src/hooks/useWebSocket.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Enable WS compression by default in dev, add --no-compress flag
  server/dev.py
Due: ruff, ruff-format, ty

Replace EgressTracker with per-round egress logging
  server/compression.py
  server/routers/ws.py
Due: ruff, ruff-format, ty

Add message count per phase to round egress log
  server/compression.py
Due: ruff, ruff-format, ty

Queue compressed WS messages to preserve ordering
  web/src/hooks/useWebSocket.ts
Due: eslint, typecheck-web

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  ty: any of: \.py$
  eslint: any of: ^web/src/.*\.(ts|tsx)$
  typecheck-web: any of: ^web/src/.*\.(ts|tsx)$
