Repository RyanSaxe/magic-the-battling: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty, eslint, typecheck-web

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uvx ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff-format
        entry: uvx ruff format
        language: system
        types: [python]

      - id: ty
        name: ty
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typecheck-web
        name: typecheck-web
        entry: bash -c 'cd web && npm run typecheck'
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

Improve guide placement and persistence
  web/src/guided/GuideContext.tsx
  web/src/guided/GuideTooltip.tsx
  web/src/guided/GuidedWalkthrough.tsx
  web/src/guided/content.ts
  web/src/guided/guideState.ts
  web/src/guided/storage.test.ts
  web/src/guided/storage.ts
  web/src/guided/types.ts
  web/src/guided/useGuidePositioning.ts
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Polish guided popup interactions
  web/src/components/common/SubmitPopover.tsx
  web/src/guided/GuideTooltip.tsx
  web/src/guided/GuidedWalkthrough.tsx
  web/src/guided/content.ts
  web/src/guided/types.ts
  web/src/guided/useGuidePositioning.ts
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Expand guided tutorial coverage
  web/src/guided/GuideTooltip.tsx
  web/src/guided/content.ts
  web/src/guided/types.ts
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Polish tutorial UX with redesigned popup and phase intros
  web/src/guided/GuideContext.tsx
  web/src/guided/GuideOverlay.tsx
  web/src/guided/GuideTooltip.tsx
  web/src/guided/GuidedWalkthrough.tsx
  web/src/guided/content.ts
  web/src/guided/types.ts
  web/src/guided/useGuidePositioning.ts
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Refine tutorial guides with content-area centering and new steps
  web/src/guided/GuideContext.tsx
  web/src/guided/content.ts
  web/src/guided/types.ts
  web/src/guided/useGuidePositioning.ts
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Redesign guide window chrome and mobile behavior
  web/src/components/QuickGuide.tsx
  web/src/components/RulesPanel.tsx
  web/src/components/rulesPanelWindow.test.ts
  web/src/components/rulesPanelWindow.ts
  web/src/guided/GuideTooltip.tsx
Due: eslint, typecheck-web

Add guided phase handoff steps
  web/src/components/PhaseTimeline.tsx
  web/src/guided/content.ts
  web/src/guided/types.ts
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Polish guided welcome and sidebar flow
  web/src/guided/GuideTooltip.tsx
  web/src/guided/content.ts
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Make collapsed guide height content-driven
  web/src/components/RulesPanel.tsx
  web/src/components/rulesPanelWindow.test.ts
  web/src/components/rulesPanelWindow.ts
Due: eslint, typecheck-web

Refine player-facing reward phase copy
  web/src/components/PhasePopover.tsx
  web/src/components/PhaseTimeline.tsx
  web/src/components/QuickGuide.tsx
  web/src/constants/phases.ts
  web/src/docs/faq.md
  web/src/docs/game-pieces.md
  web/src/docs/phases/reward.md
  web/src/docs/quick-overview.md
  web/src/docs/tips.md
  web/src/guided/content.ts
  web/src/pages/phases/Reward.tsx
Due: eslint, typecheck-web

Fix guided tutorial correctness and dead code issues
  web/src/guided/GuidedWalkthrough.tsx
  web/src/guided/content.ts
  web/src/guided/useGuidePositioning.ts
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Fix guided reward auto-scroll
  web/src/guided/useGuidePositioning.test.ts
  web/src/guided/useGuidePositioning.ts
Due: eslint, typecheck-web

Polish sidebar: etched rows, detail panel, phase reset, share page
  web/src/components/PlayerList.tsx
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/PlayerDetailPanel.tsx
  web/src/components/sidebar/RewardSidebarContent.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/components/sidebar/ZoneDisplay.tsx
  web/src/components/sidebar/index.ts
  web/src/contexts/ContextStripContext.tsx
  web/src/contexts/contextStripState.ts
  web/src/guided/content.ts
  web/src/guided/types.ts
  web/src/index.css
  web/src/pages/Game.tsx
  web/src/pages/ShareGame.tsx
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

Refine sidebar player rows and detail panel
  web/src/components/PlayerList.tsx
  web/src/components/sidebar/PlacementBadge.tsx
  web/src/components/sidebar/PlayerDetailPanel.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/contexts/ContextStripContext.tsx
  web/src/contexts/contextStripState.ts
  web/src/guided/content.test.ts
  web/src/guided/content.ts
  web/src/guided/types.ts
  web/src/index.css
  web/src/pages/Game.tsx
  web/src/pages/ShareGame.tsx
Due: eslint, typecheck-web

Polish sidebar row badge treatment
  web/src/components/PlayerList.tsx
  web/src/components/sidebar/PlacementBadge.tsx
Due: eslint, typecheck-web

Fix guided walkthrough step sync and row polish
  web/src/components/PlayerList.tsx
  web/src/guided/GuidedWalkthrough.tsx
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Polish sidebar spacing and battle alignment
  web/src/components/PhaseTimeline.tsx
  web/src/components/PlayerList.tsx
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/PlacementBadge.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/pages/Game.tsx
  web/src/pages/ShareGame.tsx
  web/src/pages/phases/Battle.tsx
Due: eslint, typecheck-web

Refine scouting drawer and sidebar ordering
  web/src/components/PlayerList.tsx
  web/src/components/card/CardPreviewModal.tsx
  web/src/components/sidebar/PlacementBadge.tsx
  web/src/components/sidebar/PlayerDetailPanel.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/hooks/useHotkeys.ts
  web/src/pages/Game.tsx
  web/src/pages/ShareGame.tsx
  web/src/utils/playerPlacement.test.ts
  web/src/utils/playerPlacement.ts
Due: eslint, typecheck-web

Polish scouting drawer animation
  web/src/components/sidebar/PlayerDetailPanel.tsx
  web/src/components/sidebar/Sidebar.tsx
Due: eslint, typecheck-web

Raise scouting drawer above draft overlays
  web/src/components/sidebar/PlayerDetailPanel.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/constants/hotkeys.ts
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

quick cleaning
  web/src/components/sidebar/PlayerDetailPanel.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/index.css
Due: eslint, typecheck-web

Lift desktop layout reset into header
  web/src/components/common/LayoutResetControl.tsx
Due: eslint, typecheck-web

lots of quick fixes and adjustments
  server/routers/games.py
  tests/test_share_game.py
  web/src/components/PlayerList.tsx
  web/src/components/common/LayoutResetControl.tsx
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/PlayerDetailPanel.tsx
  web/src/guided/GuidedWalkthrough.tsx
  web/src/guided/content.test.ts
  web/src/guided/content.ts
  web/src/guided/types.ts
  web/src/guided/useGuidePositioning.ts
  web/src/pages/Game.tsx
  web/src/pages/ShareGame.tsx
  web/src/pages/phases/Battle.tsx
  web/src/utils/share.test.ts
  web/src/utils/share.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

polishing
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/guided/GuidedWalkthrough.tsx
  web/src/guided/useGuidePositioning.ts
  web/src/pages/Game.tsx
  web/src/pages/phases/Battle.tsx
Due: eslint, typecheck-web

polishing guided mode and trying to fix the sidebar for battle
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/guided/GuideTooltip.tsx
  web/src/guided/content.ts
Due: eslint, typecheck-web

finally fixed battle sidebar and getting content improved for guide
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/components/sidebar/Sidebar.tsx
  web/src/guided/content.ts
Due: eslint, typecheck-web

improved guide content
  web/src/guided/content.ts
Due: eslint, typecheck-web

Add constructed mode with per-player battlers
  mtb/models/cards.py
  mtb/models/game.py
  mtb/models/types.py
  mtb/phases/draft.py
  mtb/phases/reward.py
  mtb/utils/cubecobra.py
  mtb/utils/scryfall.py
  server/routers/games.py
  server/routers/ws.py
  server/schemas/api.py
  server/services/game_manager.py
  tests/test_api_games.py
  tests/test_api_websocket.py
  tests/test_cards.py
  tests/test_draft.py
  tests/test_game_init.py
  tests/test_game_manager.py
  web/src/api/client.ts
  web/src/components/CardsView.tsx
  web/src/components/QuickGuide.tsx
  web/src/components/RulesPanel.tsx
  web/src/hooks/useGame.ts
  web/src/pages/Game.tsx
  web/src/pages/Lobby.tsx
  web/src/pages/Play.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Polish battler errors and rename limited mode
  mtb/models/cards.py
  mtb/models/game.py
  mtb/models/types.py
  mtb/phases/draft.py
  server/routers/games.py
  server/schemas/api.py
  server/services/game_manager.py
  tests/conftest.py
  tests/test_api_games.py
  tests/test_api_websocket.py
  tests/test_cards.py
  tests/test_game_manager.py
  web/src/api/client.ts
  web/src/pages/Lobby.tsx
  web/src/pages/Play.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Handle legacy draft play mode snapshots
  mtb/models/game.py
  mtb/models/types.py
  server/schemas/api.py
  server/services/game_manager.py
  tests/test_game_init.py
  tests/test_game_manager.py
Due: ruff, ruff-format, ty

Fix constructed lobby battler readiness flow
  server/routers/ws.py
  server/services/game_manager.py
  tests/test_api_websocket.py
  tests/test_game_manager.py
  web/src/components/PlayerList.tsx
  web/src/components/sidebar/PlayerDetailPanel.tsx
  web/src/hooks/useGame.ts
  web/src/pages/Lobby.tsx
  web/src/utils/format.test.ts
  web/src/utils/format.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Add submitted-card poison and battle resolution animations
  mtb/models/game.py
  mtb/phases/battle.py
  mtb/phases/reward.py
  server/schemas/api.py
  server/services/game_manager.py
  tests/test_elimination.py
  tests/test_reward.py
  web/src/components/card/Card.tsx
  web/src/components/common/BattleResolutionOverlay.tsx
  web/src/components/common/BuildUpgradeOverlay.tsx
  web/src/components/common/PoisonCard.tsx
  web/src/components/zones/BattlefieldZone.tsx
  web/src/index.css
  web/src/pages/Game.tsx
  web/src/pages/phases/Battle.tsx
  web/src/pages/phases/Reward.tsx
  web/src/types.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Refine battle and upgrade resolution animations
  web/src/components/common/BattleResolutionOverlay.tsx
  web/src/components/common/BuildUpgradeOverlay.tsx
  web/src/components/common/TokenCounterBadge.tsx
  web/src/index.css
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Update battle docs for submitted-card poison rule
  web/src/docs/phases/battle.md
Due: none

Clarify submitted battle pool poison docs
  web/src/docs/phases/battle.md
Due: none

quick shorter text
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Update sudden death banner styling
  web/src/components/common/BattleResolutionOverlay.tsx
  web/src/index.css
Due: eslint, typecheck-web

Tighten battler validation and refine lobby UI
  mtb/models/cards.py
  server/services/game_manager.py
  tests/test_cards.py
  tests/test_game_manager.py
  web/src/pages/Lobby.tsx
  web/src/pages/Play.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Fix guided flow timing and upgrade modal behavior
  web/src/components/common/UpgradesModal.test.ts
  web/src/components/common/UpgradesModal.tsx
  web/src/components/common/upgradeModalFlow.ts
  web/src/guided/content.test.ts
  web/src/guided/content.ts
  web/src/pages/Game.tsx
  web/src/pages/gameGuideState.test.ts
  web/src/pages/gameGuideState.ts
Due: eslint, typecheck-web

light updates to guided mode
  web/src/guided/content.ts
Due: eslint, typecheck-web
