Repository RyanSaxe/magic-the-battling: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty, eslint, typecheck-web

ruff:
  name: ruff
  entry: uvx ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: uvx ruff format
  language: system

ty:
  name: ty
  entry: uvx ty check
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

typecheck-web:
  name: typecheck-web
  entry: bash -c 'cd web && npm run typecheck'
  language: system
  pass_filenames: false

Enable SQLite WAL mode to prevent lock contention
  server/db/database.py
Due: ruff, ruff-format, ty

Add shared flag to GameRecord for cleanup protection
  server/db/database.py
  server/db/models.py
  server/routers/share_preview.py
Due: ruff, ruff-format, ty

Add periodic monitoring logs for launch day observability
  server/main.py
  server/monitoring.py
Due: ruff, ruff-format, ty

Add realistic multiplayer load harness and completion logging
  .gitignore
  README.md
  mtb/models/cards.py
  pyproject.toml
  server/perf/__init__.py
  server/perf/load_harness.py
  server/routers/ws.py
  server/services/game_manager.py
  tests/perf/thresholds.json
  tests/test_abandoned_cleanup_policy.py
  tests/test_game_manager.py
  tests/test_pending_disconnect.py
  tests/test_perf_harness.py
  tests/test_synthetic_battler.py
  tests/test_ws_runtime_disconnect.py
  uv.lock
Due: ruff, ruff-format, ty

Fix sudden-death load harness loops and cleanup scheduling
  server/perf/load_harness.py
  server/services/game_manager.py
Due: ruff, ruff-format, ty

Gameplay tweaks and UI polish
  mtb/phases/battle.py
  server/services/game_manager.py
  web/public/favicon.svg
  web/src/components/icons/GoldfishIcon.tsx
  web/src/components/icons/index.ts
  web/src/components/sidebar/BattleSidebarContent.tsx
  web/src/pages/Game.tsx
  web/src/pages/Play.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Add consistent zone background colors via CSS variables
  web/src/components/common/ZoneLayout.tsx
  web/src/components/zones/PileZone.tsx
  web/src/index.css
  web/src/pages/phases/Battle.tsx
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

Fix share page card sizing on player/round switch
  web/src/hooks/useCardLayout.ts
Due: eslint, typecheck-web

Add logging for player elimination and game winner
  mtb/phases/elimination.py
  server/services/game_manager.py
Due: ruff, ruff-format, ty

Revert zone-specific background colors
  web/src/components/common/ZoneLayout.tsx
  web/src/components/zones/PileZone.tsx
  web/src/index.css
  web/src/pages/phases/Battle.tsx
  web/src/pages/phases/Draft.tsx
Due: eslint, typecheck-web

Make goldfish icon gold
  web/src/components/icons/GoldfishIcon.tsx
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Cap upgrades column at 30% of container width in layout algorithm
  web/src/hooks/useCardLayout.ts
Due: eslint, typecheck-web

Update favicon to pentagon with lightning bolt
  web/public/favicon.svg
Due: none

Simplify GoldfishIcon to use currentColor and Tailwind sizing
  web/src/components/icons/GoldfishIcon.tsx
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Fix deadlock in _revalidate and bump cache to 4096
  mtb/utils/cubecobra.py
  mtb/utils/json_helpers.py
  tests/test_json_helpers.py
Due: ruff, ruff-format, ty

Warm Scryfall cards during cube cache warming
  server/routers/games.py
  web/src/api/client.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Debounce cube warming by 2s and include auto cube
  web/src/pages/Play.tsx
Due: eslint, typecheck-web

Add logging when a game starts
  server/services/game_manager.py
Due: ruff, ruff-format, ty

Log every HTTP fetch at INFO level
  mtb/utils/json_helpers.py
Due: ruff, ruff-format, ty

Log when abandoned game cleanup is cancelled
  server/services/game_manager.py
Due: ruff, ruff-format, ty

Add click-to-move and DnD drop-in for battle panels
  web/src/components/common/DndPanel.tsx
  web/src/components/sidebar/DroppableZoneDisplay.tsx
  web/src/components/zones/BattlefieldZoneColumn.tsx
  web/src/components/zones/CompactZoneDisplay.tsx
  web/src/dnd/DroppableZone.tsx
  web/src/pages/Game.tsx
  web/src/pages/phases/Battle.tsx
Due: eslint, typecheck-web

Fix click-to-move double-fire and DnD panel conflicts
  web/src/components/common/DndPanel.tsx
  web/src/components/sidebar/DroppableZoneDisplay.tsx
  web/src/components/zones/CompactZoneDisplay.tsx
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Fix DnD panel duplicate IDs and mobile overlap
  web/src/components/common/DndPanel.tsx
  web/src/components/sidebar/DroppableZoneDisplay.tsx
  web/src/dnd/DndContext.tsx
  web/src/dnd/DroppableZone.tsx
  web/src/dnd/types.ts
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Add observability latency logs and richer Fly activity report
  README.md
  fly.toml
  scripts/fly_activity_report.py
  server/main.py
  server/monitoring.py
  server/observability.py
  server/routers/ws.py
Due: ruff, ruff-format, ty

Send explicit WS close codes for rejected reconnects
  server/routers/ws.py
  tests/test_api_websocket.py
Due: ruff, ruff-format, ty

Fix reconnect loop after invalid session
  web/src/hooks/useWebSocket.ts
  web/src/pages/Game.tsx
  web/src/utils/sessionRecovery.test.ts
  web/src/utils/sessionRecovery.ts
Due: eslint, typecheck-web

Add burst-safe game start queueing and PR load test workflow
  .github/workflows/pr-load-test.yml
  server/perf/load_harness.py
  server/routers/games.py
  server/routers/ops.py
  server/routers/ws.py
  server/runtime_config.py
  server/schemas/api.py
  server/services/game_manager.py
  tests/test_game_manager.py
  web/src/api/client.ts
  web/src/hooks/useWebSocket.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Add db-copy dev mode and staged drain-before-deploy workflows
  .github/workflows/deploy-main.yml
  README.md
  server/dev.py
  web/src/pages/Game.tsx
  web/vite.config.ts
Due: ruff, ruff-format, ty, eslint, typecheck-web

Add device-aware auto reconnect on reconnect screen
  web/src/api/client.ts
  web/src/components/home/JoinGameModal.tsx
  web/src/pages/Game.tsx
  web/src/pages/Lobby.tsx
  web/src/pages/Play.tsx
  web/src/utils/deviceIdentity.test.ts
  web/src/utils/deviceIdentity.ts
Due: eslint, typecheck-web

Fix reconnect/status edge cases and timezone crash after restart
  server/routers/games.py
  server/routers/ws.py
  server/services/game_manager.py
  tests/test_api_games.py
  tests/test_connection_manager.py
  tests/test_game_manager.py
  tests/test_share_preview.py
Due: ruff, ruff-format, ty

Make draining notice non-blocking and keep maintenance modal blocking
  web/src/pages/Game.tsx
Due: eslint, typecheck-web

Add optional harness-only websocket action jitter flag
  server/perf/load_harness.py
  tests/test_perf_harness.py
Due: ruff, ruff-format, ty

Replace importlib indirection with explicit local imports
  mtb/models/cards.py
  server/services/game_manager.py
  tests/test_e2e_game_creation.py
  tests/test_game_manager.py
  tests/test_json_helpers.py
Due: ruff, ruff-format, ty

Add goldfish load harness runtime reset and memory reporting
  pyproject.toml
  server/perf/__init__.py
  server/perf/load_harness.py
  server/routers/ops.py
  server/routers/ws.py
  server/services/game_manager.py
  server/services/session_manager.py
  tests/test_perf_harness.py
Due: ruff, ruff-format, ty

Fix restored battle reference integrity and recovery
  server/services/game_manager.py
  tests/test_game_manager.py
Due: ruff, ruff-format, ty

Add deploy-safe draining mode with game snapshot recovery
  .github/workflows/deploy-dev.yml
  .github/workflows/release.yml
  mtb/models/cards.py
  server/db/models.py
  server/main.py
  server/monitoring.py
  server/routers/games.py
  server/routers/ops.py
  server/routers/ws.py
  server/runtime_config.py
  server/schemas/api.py
  server/services/game_manager.py
  server/services/ops_manager.py
  server/services/session_manager.py
  tests/test_e2e_game_creation.py
  tests/test_game_manager.py
  tests/test_json_helpers.py
  web/src/hooks/useGame.ts
  web/src/hooks/useWebSocket.ts
  web/src/pages/Game.tsx
Due: ruff, ruff-format, ty, eslint, typecheck-web

Stabilize mock load harness and PR perf workflow
  .github/workflows/pr-load-test.yml
  mtb/utils/cubecobra.py
  server/main.py
  server/perf/load_harness.py
  tests/test_cubecobra.py
  tests/test_perf_harness.py
Due: ruff, ruff-format, ty

Adjust PR load sweep to 10,50,100,200
  .github/workflows/pr-load-test.yml
Due: none

Fix workflow YAML indentation for drain payload scripts
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-main.yml
Due: none

Make dev deploy ops-mode calls non-blocking on 405/404 bootstrap
  .github/workflows/deploy-dev.yml
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  ty: any of: \.py$
  eslint: any of: ^web/src/.*\.(ts|tsx)$
  typecheck-web: any of: ^web/src/.*\.(ts|tsx)$
